form {
	margin-bottom: 0;
}

.form-group {
	margin-bottom: 18px;
	position: relative;
}

.control-label {
	font-weight: 500;
	font-size: rem(16px);
	display: block;
	text-align: left;
	// padding-bottom: rem(8px);
	margin-bottom: 0px;
	position: absolute;
	top: 8px;
	left: 25px;
	transition: 0.5s;
	pointer-events: none;
	z-index: 10;
	color: var(--textSecondary);
}

.form-control {
	position: relative;
	height: 64px;
	font-size: rem(16px);
	background-color: #f5f5f5;
	outline: none;
	border: 2px solid transparent;
	border-radius: 12px;
	opacity: 1;
	transition: all 0.2s;
	touch-action: manipulation;
	padding: 12px 25px;
	font-weight: 500;
	padding-top: rem(30px);
	@media screen and (max-width: 767px) {
		font-size: rem(14px);
	}
	&.active {
		outline: none;
		box-shadow: none;
	}
	&::placeholder {
		opacity: 1;
		color: var(--textSecondary) !important;
	}
	&:focus {
		outline: none;
		box-shadow: none;
		// border-color: $primary;
		color: var(--textPrimary);
		background-color: #fcfcfc;
		border: 2px solid #171716;
		// padding-top: 14px;
		// padding-bottom: 10px;
	}
	&.big {
		height: rem(128px);
	}
	&:read-only {
		border: 1px solid #dbdde4;
		background: rgb(255, 255, 255);
		background: -moz-linear-gradient(
			top,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 1) 8%,
			rgba(242, 244, 248, 1) 100%
		);
		// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
	}
}

.form-control:placeholder-shown + label {
	cursor: text;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(0, 16.5px) scale(1);
}

.form-control:not(:placeholder-shown) + label,
.form-control:not(:placeholder-shown) + label,
.form-control:focus + label {
	transform: translate(0, 6px) scale(1);
	cursor: pointer;
}

::-webkit-input-placeholder {
	opacity: 0 !important;
	transition: inherit;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
}

input:focus::-moz-placeholder {
	opacity: 0 !important;
	transition: inherit;
}

input:focus::-moz-placeholder {
	opacity: 0;
}

::-moz-placeholder {
	opacity: 0 !important;
	transition: inherit;
}

.form-control:-ms-input-placeholder {
	color: transparent !important;
	transition: inherit !important;
}

.form-control:-moz-placeholder {
	color: transparent !important;
	transition: inherit !important;
}

// for firefox
//css for ie
.form-control:-ms-input-placeholder + label {
	cursor: text !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	transform-origin: left bottom !important;
	transform: translate(0, 16.5px) scale(1) !important;
}

.form-control:not(:-ms-input-placeholder) + label,
.form-control:not(:-ms-input-placeholder) + label,
.form-control:focus + label {
	transform: translate(0, 0px) scale(1) !important;
	cursor: pointer !important;
}

.form-control:-moz-placeholder + label {
	cursor: text !important;
	overflow: hidden;
	text-overflow: ellipsis;
	//transform-origin: left bottom;
	transform: translate(0, 16.5px) scale(1);
}

//css for ie
// for firefox
.static-label {
	top: 10px;
	// left: 0;
	transform: none !important;
}

textarea {
	&.form-control {
		position: relative;
		height: rem(116px);
		font-size: rem(16px);
		background-color: #f5f5f5;
		outline: none;
		border: 0;
		border-radius: 12px;
		opacity: 1;
		transition: all 0.2s;
		touch-action: manipulation;
		padding: rem(32px) rem(24px);
		font-weight: 500;
		@media screen and (max-width: 767px) {
			font-size: rem(14px);
		}
		&.active {
			outline: none;
			box-shadow: none;
		}
		&::placeholder {
			opacity: 1;
			color: var(--textSecondary) !important;
		}
		&:focus {
			outline: none;
			box-shadow: none;
			// border-color: $primary;
			color: var(--textPrimary);
			background-color: #f5f5f5;
			// padding-top: 14px;
			// padding-bottom: 10px;
		}
		&.big {
			height: rem(128px);
		}
		&:read-only {
			border: 1px solid #dbdde4;
			background: rgb(255, 255, 255);
			background: -moz-linear-gradient(
				top,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			background: -webkit-linear-gradient(
				top,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 1) 8%,
				rgba(255, 255, 255, 1) 8%,
				rgba(242, 244, 248, 1) 100%
			);
			// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f4f8', GradientType=0);
		}
	}
	// &.form-control {
	// 	resize: none;
	// 	height: rem(128px);
	// 	border-radius: 0;
	// 	padding-top: rem(20px);
	// 	line-height: normal;
	// 	overflow-y: unset !important;
	// 	border: 1px solid #cec9d4;
	// 	@media screen and (max-width: 991px) {
	// 		height: rem(100px) !important;
	// 	}
	// }
}

// Bootstrap Select Styling
.bootstrap-select {
	&:not([class*='col-']):not([class*='form-control']):not(.input-group-btn) {
		width: 100%;
	}
	> .dropdown-toggle {
		position: relative;
		height: 45px;
		font-size: rem(18px);
		color: var(--textPrimary);
		background-color: '#fff';
		outline: none;
		border-radius: 30px;
		border: solid 1px #d2d2d2;
		// z-index: -1;
		&.btn-light {
			background: #fff;
			// padding: rem(14px) rem(18px) rem(13px) rem(30px);
			padding: rem(0px) rem(18px) rem(0px) rem(30px);
			&:disabled,
			&:active,
			&:focus {
				background: #fff !important;
			}
		}
		.filter-option {
			@include flex(center, start);
		}
		.filter-option-inner-inner {
			color: #2c2b33;
			font-size: rem(16px);
			font-weight: 300;
		}
		&:after {
			border: 0;
			content: '';
			width: 12px;
			height: 7px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='rgb(137, 32, 26)' d='M5.547,6.407 L0.859,1.580 C0.560,1.272 0.560,0.775 0.859,0.468 C1.157,0.161 1.640,0.161 1.938,0.468 L6.087,4.739 L10.236,0.468 C10.534,0.161 11.018,0.161 11.316,0.468 C11.614,0.775 11.614,1.273 11.316,1.580 L6.627,6.407 C6.478,6.561 6.283,6.638 6.087,6.638 C5.892,6.638 5.696,6.561 5.547,6.407 Z'/%3E%3C/svg%3E");
			margin-top: 0;
		}
		&:focus {
			outline: none !important;
		}
		.filter-option-inner-inner {
			color: var(--textPrimary);
			font-size: rem(18px);
			// font-family: $primary-font;
			@media screen and (max-width: 1600px) {
				font-size: rem(16px);
			}
		}
	}
	.dropdown-menu {
		padding: 0px;
		.dropdown-item {
			padding-top: rem(8px);
			padding-bottom: rem(8px);
			border-bottom: solid 1px #d2d2d2;
			&.active,
			&:active {
				background: var(--textPrimary);
				color: #fff;
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					background: var(--textPrimary);
					color: #fff;
				}
			}
		}
	}
	.form-control:focus {
		outline: none;
		box-shadow: none;
		background: transparent;
		border-color: var(--textPrimary);
	}
}

// vue seelct
.custom-select {
	position: relative;
	height: 64px;
	font-size: rem(16px);
	background-color: #f5f5f5;
	outline: none;
	border: 0;
	border-radius: 12px;
	opacity: 1;
	transition: all 0.2s;
	padding: 17px 25px;
	padding-bottom: 3px;
	font-weight: 500;
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.653377 -0.0675907 1.22061 -0.0953203 1.6129 0.209705L1.70711 0.292893L5 3.585L8.29289 0.292893C8.65338 -0.0675907 9.22061 -0.0953203 9.6129 0.209705L9.70711 0.292893C10.0676 0.653377 10.0953 1.22061 9.7903 1.6129L9.70711 1.70711L5.70711 5.70711C5.34662 6.06759 4.77939 6.09532 4.3871 5.7903L4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	appearance: none;
	background-position: calc(100% - 25px) 60%;
	width: 100%;
	&:disabled {
		opacity: 0.6;
	}
	@media screen and (max-width: 767px) {
		font-size: rem(14px);
	}
}

.no-label {
	.custom-select {
		padding-top: 12px;
		padding-bottom: 12px;
		background-position: calc(100% - 25px) 55%;
	}
	.form-control {
		&::placeholder {
			opacity: 1 !important;
		}
	}
}
.form-group.search {
	input {
		background: #e9e9e9;
		padding: 12px 24px;
		padding-left: 46px;
		border-radius: 12px;
		border: 0;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3ZM11 5C14.3137 5 17 7.68629 17 11C17 14.3137 14.3137 17 11 17C7.68629 17 5 14.3137 5 11C5 7.68629 7.68629 5 11 5Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2926 15.2971C15.6529 14.9365 16.2201 14.9085 16.6125 15.2133L16.7068 15.2965L20.7068 19.2928C21.0975 19.6832 21.0978 20.3164 20.7074 20.7071C20.3471 21.0677 19.7799 21.0957 19.3875 20.7908L19.2932 20.7077L15.2932 16.7113C14.9025 16.321 14.9022 15.6878 15.2926 15.2971Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: 15px center;
		max-height: 56px;
	}
}
// vue slect

.checkbox,
.radio {
	label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		input,
		svg {
			width: 20px;
			height: 20px;
		}
		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			position: relative;
			outline: none;
			background: #fff;
			border: none;
			margin: 0;
			padding: 0;
			cursor: pointer;
			border-radius: 4px;
			transition: box-shadow 0.3s;
			box-shadow: inset 0 0 0 1px #d1d6ee;
			display: none;
			cursor: pointer;
			@media screen and (min-width: 1025px) {
				&:hover {
					box-shadow: inset 0 0 0 1px var(--textPrimary);
				}
			}
			&:checked {
				box-shadow: inset 0 0 0 1px var(--textPrimary);
			}
		}
		svg {
			pointer-events: none;
			fill: none;
			stroke-width: 2px;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke: var(--textPrimary);
			width: 20px;
			height: 20px;
			transform: scale(1) translateZ(0);
			border: 1px solid #d7d7d7;
			border-radius: 2px;
		}
		&.path {
			input {
				&:checked {
					--s: 2px;
					transition-delay: 0.4s;
					& + svg {
						// --a: 16.1 86.12;
						// --o: 102.22;
						stroke-dasharray: 16.1 86.12;
						stroke-dashoffset: 102.22;
					}
				}
			}
			svg {
				stroke-dasharray: 86.12;
				stroke-dashoffset: 86.12;
				transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
			}
		}
		span {
			padding-left: rem(7px);
			color: #4a4a4a;
			vertical-align: middle;
		}
	}
	a {
		color: var(--textPrimary);
		text-decoration: underline;
		@media screen and (min-width: 1025px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// ar style
.ar .form-group .control-label {
	padding: 0 1.375rem 1rem 0;
}

.ar .form-group .info-label {
	margin: 0.6875rem 0 0 0.4375rem;
	text-align: left;
}

[lang='ar'] {
	.form-group {
		.control-label {
			padding: 0 rem(22px) rem(16px) 0;
			text-transform: none;
			span {
				margin-right: 6px;
				margin-left: 0;
			}
		}
		.info-label {
			margin: rem(11px) 0 0 rem(7px);
			text-align: left;
		}
		.left-icon {
			span.icon {
				right: 0;
				left: auto;
			}
			.form-control {
				padding-right: rem(50px);
				padding-left: 0;
			}
		}
		@media screen and (max-width: 991px) {
			.control-label {
				right: rem(40px);
				left: auto;
			}
		}
		@media screen and (max-width: 767px) {
			.control-label {
				right: rem(18px);
				left: auto;
			}
			.form-note {
				padding-right: rem(20px);
				padding-left: 0;
			}
		}
	}
}
