.footer {
    background: #fff;
    padding: rem(80px) 0 0 0;
    p {
        &.poweredBy {
            color: var(--textSecondary);
            font-size: rem(12px);
            margin: rem(18px) 0 0 0;
            line-height: 1;
        }
    }
    h5 {
        font-size: rem(16px);
        font-weight: 500;
        color: var(--textPrimary);
        line-height: 1;
        margin-bottom: rem(25px);
    }
    &__links {
        display: flex;
        justify-content: space-between;
        >div {
            &:not(:last-child) {
                margin-right: rem(16px);
            }
        }
        @media screen and (max-width:767px) and (min-width:576px) {
            flex-wrap: wrap;
            justify-content: start;
            >div {
                width: 30%;
                margin-bottom: rem(40px);
                &:not(:last-child) {
                    margin-right: rem(10px);
                }
            }
        }
        ul {
            list-style: none;
            li,
            a {
                color: #6B6B6B;
                font-weight: 400;
                text-decoration: none;
                @media screen and (max-width: 1200px) and (min-width: 992px) {
                    font-size: rem(15px);
                }
            }
            @media screen and (min-width:1025px) {
                a:hover {
                    color: var(--secondary);
                }
            }
            li {
                &:not(:last-child) {
                    margin-bottom: rem(20px);
                }
            }
            &.contacts {
                li {
                    position: relative;
                    padding-left: 40px;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 22px
                    }
                    &.phone {
                        &:before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.6786 2.00454L6.63946 2.00196C5.21666 1.93618 3.32805 3.53713 2.60778 4.73203C1.81756 5.8024 1.8027 7.23039 2.47943 8.8504L2.58612 9.09482C4.30365 13.3027 10.7119 19.6688 14.9347 21.4256L15.1715 21.5311C16.665 22.1663 18.0372 22.1744 19.1596 21.4652L19.2877 21.3787L19.2494 21.4021C20.3745 20.7577 22.0497 18.825 21.9983 17.3703C21.9469 16.7359 21.6613 16.237 21.2248 15.7902C21.0818 15.6438 20.8914 15.4687 20.6716 15.2794L20.322 14.9865C20.2608 14.9365 20.1983 14.886 20.1348 14.8354L19.7442 14.5307C19.6779 14.4801 19.6111 14.4298 19.5441 14.3799L19.1428 14.0878C18.4783 13.6163 17.854 13.2361 17.5505 13.1725C16.8565 13.0286 16.3925 13.1551 15.6882 13.5406L15.4314 13.6857C15.0363 13.9123 14.942 13.9382 14.8261 13.8961C12.5921 12.9837 11.0155 11.4076 10.0876 9.1371C10.0738 9.09784 10.0735 9.05454 10.105 8.97145L10.1593 8.85035L10.2514 8.67733L10.3465 8.51034C10.8187 7.68964 10.9837 7.20643 10.827 6.45105C10.7825 6.23794 10.583 5.86835 10.3058 5.43797L10.0508 5.05642C10.0058 4.99109 9.95956 4.92507 9.91244 4.85866L9.62054 4.45755C9.57066 4.39063 9.52031 4.32387 9.46972 4.25755L9.16511 3.86702C9.11446 3.80354 9.06401 3.74105 9.014 3.67984L8.72093 3.33001L8.44902 3.02407C8.36311 2.93089 8.28253 2.84726 8.20906 2.7754C7.76278 2.33945 7.26436 2.05471 6.6786 2.00454ZM6.48456 4.00349L6.52469 4.00069L6.50795 3.99725C6.55614 4.00138 6.6665 4.06442 6.81103 4.20561L6.96976 4.37209L7.1627 4.59206L7.38028 4.85249L7.73184 5.2905L8.08488 5.74625L8.50197 6.30556L8.66594 6.53517L8.78743 6.71405C8.83595 6.78864 8.86494 6.83932 8.869 6.85876C8.88363 6.92928 8.8746 7.00106 8.81339 7.13696L8.73373 7.29657L8.57919 7.57159C8.08208 8.43784 7.92067 9.0241 8.22156 9.85565C9.3674 12.6616 11.3388 14.6324 14.1071 15.762C14.9126 16.0551 15.4764 15.9372 16.2452 15.5217L16.7234 15.2545C16.9559 15.1319 17.0497 15.1112 17.1424 15.1304L17.1718 15.1426L17.2867 15.212L17.4654 15.3335L17.8248 15.5925L18.4056 16.0306L19.007 16.5043L19.4085 16.8367L19.6281 17.0294C19.6931 17.0884 19.7492 17.1417 19.7941 17.1877C19.9354 17.3324 19.9986 17.4428 20.0024 17.4881C20.0167 17.9253 18.9331 19.2007 18.3523 19.6047L18.17 19.7214C17.6536 20.0913 16.94 20.108 15.9435 19.6858L15.7404 19.5955C13.9745 18.8604 11.7171 17.16 9.65834 15.1748L9.1023 14.6268C7.08536 12.5955 5.32981 10.3412 4.52578 8.54468L4.4221 8.3026C3.92812 7.21521 3.886 6.46701 4.20242 5.94194L4.27046 5.83986C4.44087 5.56511 4.89462 5.06309 5.3459 4.68054C5.82409 4.27518 6.25541 4.0364 6.48456 4.00349Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1107 1.0062L13.994 1C13.4933 1.00246 13.063 1.3799 13.0063 1.88959C12.9453 2.4385 13.3408 2.93294 13.8897 2.99395C17.6309 3.40984 20.5858 6.36494 21.0064 10.1116C21.068 10.6605 21.5629 11.0554 22.1117 10.9938C22.6606 10.9322 23.0556 10.4374 22.9939 9.88852C22.4691 5.21361 18.7812 1.52539 14.1107 1.0062ZM14.1915 6.01855C13.6494 5.91289 13.1243 6.26668 13.0187 6.80876C12.913 7.35084 13.2668 7.87594 13.8089 7.9816C14.9271 8.19957 15.8007 9.07312 16.0187 10.1914C16.1243 10.7335 16.6494 11.0873 17.1915 10.9816C17.7336 10.8759 18.0874 10.3508 17.9817 9.80876C17.6079 7.89101 16.1093 6.39235 14.1915 6.01855Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                    &.email {
                        &:before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 3H7C4.23858 3 2 5.23858 2 8V16C2 18.7614 4.23858 21 7 21H16.9919L17.2087 20.9952C19.8687 20.8794 21.9901 18.6885 21.9939 16.0014L21.997 8.006L22 7.99797C22 5.23601 19.7607 2.99747 17 3ZM17.0009 5L17.1771 5.00494C18.6929 5.09145 19.907 6.30518 19.9949 7.8217L19.998 7.99949L19.9939 15.9995C19.9916 17.6556 18.6479 18.9985 16.991 19H7C5.34315 19 4 17.6569 4 16V8C4 6.34315 5.34315 5 7 5L17.0009 5Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.29289 8.29289C7.65338 7.93241 8.22061 7.90468 8.6129 8.2097L8.70711 8.29289L9.87868 9.46447C11.0034 10.5892 12.799 10.6342 13.9773 9.59943L14.1213 9.46447L15.2929 8.29289C15.6834 7.90237 16.3166 7.90237 16.7071 8.29289C17.0676 8.65338 17.0953 9.22061 16.7903 9.6129L16.7071 9.70711L15.5355 10.8787C13.6421 12.7721 10.6078 12.8295 8.64525 11.0508L8.46447 10.8787L7.29289 9.70711C6.90237 9.31658 6.90237 8.68342 7.29289 8.29289Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                    &.location {
                        &:before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.94772 2 3 5.94775 3 11C3 13.6999 4.79762 16.9162 8.3279 20.7364C8.4171 20.8329 8.51007 20.9259 8.60659 21.0151C10.6347 22.8892 13.798 22.7644 15.6722 20.7364L15.9871 20.392C19.309 16.7215 21 13.6189 21.0001 11.0001C21.0001 5.94777 17.0523 2 12 2ZM12 4C15.9477 4 19.0001 7.05234 19.0001 11C19 13.0049 17.5237 15.7137 14.5077 19.0461L14.1998 19.3828C13.0788 20.5959 11.1808 20.6707 9.96396 19.5462C9.90605 19.4927 9.85027 19.4369 9.79675 19.379C6.57726 15.8952 5 13.0731 5 11C5 7.05232 8.0523 4 12 4Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7C9.79086 7 8 8.79086 8 11C8 13.2091 9.79086 15 12 15C14.2091 15 16 13.2091 16 11C16 8.79086 14.2091 7 12 7ZM12 9C13.1046 9 14 9.89543 14 11C14 12.1046 13.1046 13 12 13C10.8954 13 10 12.1046 10 11C10 9.89543 10.8954 9 12 9Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
                            height: 25px
                        }
                    }
                }
            }
        }
    }
    &__social {
        padding-left: rem(60px);
        ul {
            list-style: none;
            @include flex (center,
            start);
            li {
                &:not(:last-child) {
                    margin-right: rem(16px);
                }
                a {
                    background: #E9E9E9;
                    border-radius: 7px;
                    width: 24px;
                    height: 24px;
                    @include flex (center,
                    center);
                    color: #6B6B6B;
                    @media screen and (min-width: 1025px) {
                        &:hover {
                            color: var(--secondary);
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        @include flex (center,
        space-between);
        margin-top: rem(130px);
        width: 100%;
        padding: rem(45px) 0;
        border-top: 1px solid #E7E5EA;
        p {
            font-size: rem(14px);
            font-weight: 400;
            margin: 0;
            line-height: 1;
            color: #8E8E8E;
        }
        ul {
            list-style: none;
            @include flex (center,
            start);
            li {
                a {
                    font-size: rem(14px);
                    color: var( --default);
                    font-weight: 400;
                    text-decoration: none;
                    @media screen and (min-width: 1025px) {
                        &:hover {
                            color: var(--secondary);
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: rem(25px);
                }
            }
        }
    }
    @media screen and (max-width:1199px) {
        .footer {
            &__social {
                padding-left: 0;
            }
            &__links {
                margin: rem(45px) 0;
            }
        }
    }
    @media screen and (max-width:991px) {
        padding: rem(60px) 0 0 0;
        .footer {
            &__bottom {
                margin-top: rem(70px);
            }
        }
    }
    @media screen and (max-width:575px) {
        padding: rem(40px) 0 0 0;
        .footer {
            &__links {
                flex-direction: column;
                margin-bottom: rem(15px);
                ul {
                    margin-bottom: rem(35px);
                    &.contacts {
                        li {
                            &:not(:last-child) {
                                margin-bottom: rem(27px);
                            }
                        }
                    }
                }
            }
            &__bottom {
                margin-top: rem(40px);
                flex-direction: column-reverse;
                justify-content: center;
                padding: rem(25px);
                ul {
                    margin-bottom: rem(30px);
                    li {
                        &:first-child {
                            margin-right: 10px;
                            a {
                                border-right: 2px solid #8E8E8E;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}