html {
    font-size: 100%;
    overflow-x: hidden;
    &.ar {
        direction: rtl;
    }
}

@media (prefers-reduced-motion: no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

body {
    font-size: rem(16px);
    font-family: $primary-font;
    color: var(--default);
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;
    width: 100%;
    position: relative;
    &.no-scroll {
        overflow: hidden;
        position: fixed;
    }
    &.modal-open {
        position: fixed;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1295px;
    }
}

@media screen and (max-width: 991px) {
    html {
        font-size: 80%;
    }
}

// ar style
.ar body {
    direction: rtl;
    text-align: right;
}