$col-gap-list: 0,
10,
15,
20,
25,
30,
40,
50,
55,
60,
70,
90,
100,
120,
150;
$margines-list: 5,
10,
15,
20,
25,
30,
35,
40,
50,
60,
65,
70,
80,
90,
100;
@each $item in $margines-list {
    .mb-#{$item} {
        margin-bottom: #{$item}px !important;
    }
    .mt-#{$item} {
        margin-top: #{$item}px !important;
    }
    .pb-#{$item} {
        padding-bottom: #{$item}px !important;
    }
    .pt-#{$item} {
        padding-top: #{$item}px !important;
    }
}

@each $item in $col-gap-list {
    .col-gap-#{$item} {
        margin-left: calc((#{$item}px/2) * -1) !important;
        margin-right: calc((#{$item}px/2) * -1) !important;
    }
    .col-gap-#{$item}>div {
        padding-left: calc(#{$item}px/2) !important;
        padding-right: calc(#{$item}px/2) !important;
    }
}

$data-gap-list: 0,
2,
3,
5,
6,
7,
8,
9,
10,
12,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
70,
80,
90,
100,
120;
@each $item in $data-gap-list {
    [data-grid-item-gap='#{$item}'] {
        --grid-item-gap: #{$item}px;
    }
    [data-row-gap='#{$item}'] {
        --grid-row-gap: #{$item}px;
    }
}

[data-grid-item-width='30'] {
    --grid-item-width: calc(30px - var(--grid-item-gap));
}

[data-grid-item-width='50'] {
    --grid-item-width: calc(50px - var(--grid-item-gap));
}

[data-grid-item-width='88'] {
    --grid-item-width: calc(88px - var(--grid-item-gap));
}

[data-grid-item-width='100'] {
    --grid-item-width: calc(100px - var(--grid-item-gap));
}

[data-grid-item-width='125'] {
    --grid-item-width: calc(125px - var(--grid-item-gap));
}

[data-grid-item-width='150'] {
    --grid-item-width: calc(150px - var(--grid-item-gap));
}

[data-grid-item-width='200'] {
    --grid-item-width: calc(200px - var(--grid-item-gap));
}

[data-grid-item-width='230'] {
    --grid-item-width: calc(230px - var(--grid-item-gap));
}

[data-grid-item-width='250'] {
    --grid-item-width: calc(250px - var(--grid-item-gap));
}

[data-grid-item-width='300'] {
    --grid-item-width: calc(300px - var(--grid-item-gap));
}

[data-grid-item-width='1/2'] {
    --grid-item-width: calc((100% / 2) - var(--grid-item-gap));
}

[data-grid-item-width='1/3'] {
    --grid-item-width: calc((100% / 3) - var(--grid-item-gap));
}

[data-grid-item-width='1/4'] {
    --grid-item-width: calc((100% / 4) - var(--grid-item-gap));
}

[data-grid-item-width='1/5'] {
    --grid-item-width: calc((100% / 5) - var(--grid-item-gap));
}

@media (min-width: 576px) {
    [data-grid-item-width-sm='1/2'] {
        --grid-item-width: calc((100% / 2) - var(--grid-item-gap));
    }
    [data-grid-item-width-sm='1/3'] {
        --grid-item-width: calc((100% / 3) - var(--grid-item-gap));
    }
    [data-grid-item-width-sm='1/4'] {
        --grid-item-width: calc((100% / 4) - var(--grid-item-gap));
    }
    [data-grid-item-width-sm='1/5'] {
        --grid-item-width: calc((100% / 5) - var(--grid-item-gap));
    }
}

@media (min-width: 768px) {
    [data-grid-item-width-md='1/2'] {
        --grid-item-width: calc((100% / 2) - var(--grid-item-gap));
    }
    [data-grid-item-width-md='1/3'] {
        --grid-item-width: calc((100% / 3) - var(--grid-item-gap));
    }
    [data-grid-item-width-md='1/4'] {
        --grid-item-width: calc((100% / 4) - var(--grid-item-gap));
    }
    [data-grid-item-width-md='1/5'] {
        --grid-item-width: calc((100% / 5) - var(--grid-item-gap));
    }
}

@media (min-width: 992px) {
    [data-grid-item-width-lg='1/2'] {
        --grid-item-width: calc((100% / 2) - var(--grid-item-gap));
    }
    [data-grid-item-width-lg='1/3'] {
        --grid-item-width: calc((100% / 3) - var(--grid-item-gap));
    }
    [data-grid-item-width-lg='1/4'] {
        --grid-item-width: calc((100% / 4) - var(--grid-item-gap));
    }
    [data-grid-item-width-lg='1/5'] {
        --grid-item-width: calc((100% / 5) - var(--grid-item-gap));
    }
}

.grid {
    //--grid-item-gap: rem(15px);
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: var(--grid-item-gap);
    grid-template-columns: repeat( auto-fill, minmax(var(--grid-item-width), 1fr));
    grid-row-gap: var(--grid-row-gap);
    &>div {
        position: relative;
    }
}

.card {
    border-radius: 12px;
    border: 1px solid var(--borderColor);
    padding: unset;
    box-shadow: none;
    overflow: hidden;
    margin: 0;
    &__head {
        padding: rem(24px);
        // padding: rem(27px) rem(24px);
        background: #fcfcfc;
        border-bottom: 1px solid var(--borderColor);
        text-transform: capitalize;
        font-size: rem(16px);
        color: var(--default);
        font-weight: 400;
        span {
            color: var(--primary);
            font-weight: 500;
            margin-left: rem(8px);
            margin-right: rem(8px);
        }
    }
    &__body {
        padding: rem(24px);
        @media screen and (max-width: 1200px) {
            padding: rem(18px);
        }
    }
}

// headings
h1 {
    font-weight: 500;
    color: var(--textPrimary);
}

h2 {
    font-weight: 500;
    color: var(--textPrimary);
}

h3 {
    font-weight: 500;
    color: var(--textPrimary);
}

h4 {
    font-weight: 500;
    color: var(--textPrimary);
}

h5 {
    font-weight: 500;
    color: var(--textPrimary);
}

h6 {
    font-weight: 500;
    color: var(--textPrimary);
}

// headings
.dropzone {
    border: dashed 1px #d2d2d2;
    min-height: 115px;
    @include flex(center, center);
    border-radius: 10px;
    padding: 0px rem(20px);
    max-width: 620px;
    .dz-message {
        margin: 0px;
        font-size: rem(16px);
        color: #4a4a4a;
        .dz-button {
            color: #89201a;
        }
        .note {
            color: #666666;
            font-style: italic;
            font-size: rem(14px);
            display: block;
            padding-top: rem(8px);
        }
    }
    .dz-preview {
        margin: 5px;
        .dz-image {
            width: 95px;
            height: 95px;
        }
    }
}

.mb-35 {
    margin-bottom: rem(35px);
}

.mt-15 {
    margin-top: rem(15px);
}

.accordion {
    margin-top: rem(24px);
    &>.card {
        border: 0;
    }
    .card {
        padding: 0;
        &:not(:last-child) {
            margin-bottom: rem(20px);
        }
        >.card-header {
            background: transparent;
            border: 0;
            padding: 0;
            .btn {
                background: transparent;
                font-weight: 500;
                font-size: rem(20px);
                color: #171716;
                position: relative;
                width: 100%;
                text-align: left;
                padding: rem(19px) rem(32px);
                border: 2px solid #e9e9e9;
                border-radius: 12px;
                height: 88px;
                // justify-content: space-between;
                justify-content: unset;
                @media screen and (max-width: 991px) {
                    height: 65px;
                }
                @media screen and (max-width: 767px) {
                    font-size: rem(17px);
                    padding: rem(20px);
                }
                .badge-light {
                    background: #eef7fb;
                    margin-left: 12px;
                    padding: 8px 12px;
                    color: var(--primary);
                    border: 1px solid #a8d5ee;
                    border-radius: 6px;
                    font-size: rem(12px);
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 8px;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5858 0C13.4767 0 13.9229 1.07714 13.2929 1.70711L7.70711 7.29289C7.31658 7.68342 6.68342 7.68342 6.29289 7.29289L0.707105 1.70711C0.0771403 1.07714 0.523309 0 1.41421 0H12.5858Z' fill='%231A90D2'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    right: 32px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.4s ease all;
                    @media screen and (max-width: 767px) {
                        right: 15px;
                    }
                }
                &.not-collapsed {
                    color: var(--primary);
                    border-color: #a8d5ee;
                    &:after {
                        transform: rotate(180deg);
                    }
                }
                &:focus {
                    outline: unset;
                }
            }
        }
        .card-body {
            padding: 0;
            padding-top: rem(32px);
            ul {
                .steps {
                    position: relative;
                    padding-left: rem(50px);
                    font-size: rem(12px);
                    color: var(--secondary);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    padding-bottom: rem(35px);
                    font-weight: 500;
                    .patientType {
                        font-size: rem(24px);
                        margin-top: rem(10px);
                        font-weight: 500;
                        color: var(--textPrimary);
                        span {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: rem(15px);
                            p {
                                color: var(--default);
                                font-size: rem(14px);
                                font-weight: 400;
                                margin: 0;
                            }
                            a {
                                color: var(--primary);
                                text-decoration: none;
                                &:hover {
                                    opacity: 0.7;
                                }
                                svg {
                                    margin-right: rem(5px);
                                    margin-top: rem(-3px);
                                }
                            }
                        }
                        .contentBox {
                            p {
                                font-size: rem(16px);
                                color: var(--default);
                                font-weight: 400;
                                text-transform: none;
                                margin-top: rem(5px);
                                display: inline;
                                svg {
                                    margin-left: rem(10px);
                                }
                            }
                            .wrapper {
                                margin-bottom: rem(15px);
                                margin-top: rem(15px);
                                .card__body {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                            }
                            .card {
                                border: 1px solid #e9e9e9;
                                padding: unset;
                                &:hover {
                                    cursor: pointer;
                                    border-color: var(--primary);
                                }
                                &__body {
                                    padding: rem(20px);
                                    svg {
                                        width: 26px;
                                        height: 20px;
                                    }
                                    &--item {
                                        display: flex;
                                        align-items: center;
                                        p {
                                            margin-bottom: 0;
                                            margin-top: 0;
                                            margin-left: rem(20px);
                                            font-weight: 500;
                                            font-size: rem(16px);
                                            color: var(--textPrimary);
                                            span {
                                                margin-bottom: 0;
                                                font-weight: 400;
                                                color: var(--textPrimary);
                                            }
                                        }
                                    }
                                }
                            }
                            .patientType__wrapper {
                                margin-top: rem(12px);
                                .card__body {
                                    .image {
                                        text-align: center;
                                    }
                                    h4 {
                                        margin-top: rem(20px);
                                        margin-bottom: rem(12px);
                                        font-size: rem(16px);
                                    }
                                    ul {
                                        margin-left: rem(20px);
                                        list-style: disc;
                                        li {
                                            font-size: rem(14px);
                                            font-weight: 400;
                                            color: var(--default);
                                            margin-bottom: rem(12px);
                                            line-height: rem(20px);
                                            &::marker {
                                                color: #a8d5ee;
                                                font-size: rem(20px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    span {
                        display: block;
                        font-size: rem(16px);
                        color: var(--default);
                        margin-top: rem(7px);
                        text-transform: none;
                    }
                    &.active::before {
                        content: '';
                        position: absolute;
                        background-color: var(--secondary);
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        background-color: #fff;
                        border-radius: 50%;
                        left: 0;
                        z-index: 1;
                        border: 2px solid var(--secondary);
                    }
                    &:not(:last-child)::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        border: 1px dashed #c9c9c9;
                        left: 7px;
                        top: 0;
                    }
                }
            }
            // p {
            // 	font-size: rem(24px);
            // 	color: #444444;
            // 	@media screen and (max-width: 767px) {
            // 		font-size: rem(18px);
            // 	}
            // }
        }
    }
}

.contentBox {
    padding: rem(24px);
    border: 1px solid var(--borderColor);
    border-radius: 12px;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        padding: rem(18px);
    }
}

.nav.nav-tabs {
    border-bottom: 1px solid var(--borderColor);
    li {
        width: 50%;
        margin-bottom: 0;
        border: 0;
        a.nav-link {
            text-align: center;
            width: 100%;
            color: var(--textSecondary);
            border-bottom: solid 3px transparent;
            font-size: rem(20px);
            padding: rem(10px) rem(0px);
            text-transform: capitalize;
            font-weight: 500;
            outline: none;
            min-height: 100px;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 991px) {
                min-height: auto;
                padding-bottom: 20px;
            }
            &.active {
                position: relative;
                color: var(--primary);
                // border-bottom: solid 3px #1a90d2;
                // color: var(--info);
                border-top-right-radius: 100px;
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: var(--primary);
                    // top: 100%;
                    bottom: 0;
                    left: 0;
                    border-top-right-radius: 100px;
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.nav.nav-pills {
    li {
        border-radius: 8px;
        // margin-bottom: rem(48px);
        &:not(:last-child) {
            margin-right: rem(16px);
        }
        a {
            padding: rem(10px) rem(12px);
            background: #eef7fb;
            color: var(--textPrimary);
            font-size: rem(14px);
            font-weight: 400;
            &.active {
                background: var(--primary);
                color: #fff;
            }
        }
    }
}

.abs-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    color: transparent;
    font-size: 0;
    text-indent: -2px;
}

.table> :not(caption)>*>* {
    padding-left: 0;
    padding-right: 0;
}

.table {
    $self: &;
    display: table;
    width: 100%;
    margin: 0;
    margin-bottom: rem(24px);
    border: 1px solid var(--borderColor);
    border-radius: 12px;
    overflow: hidden;
    &__row {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-bottom: 1px solid var(--borderColor);
        position: relative;
        background-color: transparent;
        @media screen and (min-width: 992px) {
            padding: rem(24px) 0;
        }
        @media screen and (max-width: 991px) {
            display: block;
            border: solid 2px #eaeaea;
            border-right: 0;
            border-left: 0;
            border-bottom: 0px;
            margin-bottom: 25px;
            padding: 0 !important;
        }
        &:last-child {
            @media screen and (min-width: 992px) {
                border: 0;
            }
        }
        @media screen and (max-width: 991px) {
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &--cell {
            display: table-cell;
            font-size: rem(16px);
            color: #000000;
            font-weight: 400;
            vertical-align: middle;
            text-align: center;
            text-align: left;
            background-color: transparent;
            line-height: 1.2;
            @media screen and (max-width: 1200px) {
                font-size: rem(15px);
            }
            p {
                font-size: rem(16px);
                color: #000000;
                font-weight: 400;
                margin: 0;
                @media screen and (max-width: 1300px) {
                    font-size: rem(15px);
                }
                @media screen and (min-width: 992px) {
                    @include truncate(1);
                }
            }
            @media screen and (max-width: 1300px) {
                font-size: rem(15px);
            }
            @media screen and (max-width: 1025px) and (min-width: 992px) {
                font-size: rem(14px);
                a {
                    font-size: rem(13px) !important;
                }
            }
            &:first-child {
                color: var(--primary);
                @media screen and (min-width: 992px) {
                    padding-left: rem(25px) !important;
                    text-align: left;
                    @media screen and (max-width: 1300px) {
                        padding-left: rem(15px) !important;
                    }
                }
            }
            &:last-child {
                @media screen and (min-width: 992px) {
                    padding-right: rem(25px) !important;
                    text-align: right;
                    @media screen and (max-width: 1300px) {
                        padding-right: rem(15px) !important;
                    }
                }
            }
            a {
                text-decoration: none;
                font-size: rem(16px);
                font-weight: 500;
                transition: 0.3s ease all;
                @media screen and (max-width: 1300px) {
                    font-size: rem(15px);
                }
                &.phase {
                    color: var(--secondary);
                }
                &.result {
                    color: var(--primary);
                }
                svg {
                    margin-left: rem(17px);
                    transform: translateY(2px);
                    @media screen and (max-width: 1300px) {
                        margin-left: rem(15px);
                    }
                }
            }
            &.blue {
                color: var(--primary);
            }
            .text-turncate {
                @include truncate(2);
            }
            span {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                margin-right: 10px;
                display: inline-block;
                &.pending {
                    background: #ecab08;
                }
                &.completed {
                    background: #00966d;
                }
                &.failed {
                    background: #ff3541;
                }
                &.cancelled {
                    background: #f7c0b7;
                }
                &.refunded {
                    background: #c9c9c9;
                }
            }
            @media screen and (max-width: 991px) {
                display: flex !important;
                align-items: center;
                width: 100% !important;
                padding-left: 0px !important;
                border-bottom: solid 2px #dee2e6 !important;
                padding: 0 !important;
                position: relative;
                &:before {
                    color: #323232;
                    padding-left: 6px;
                    text-align: left;
                    font-weight: 700;
                    font-size: rem(15px);
                    content: attr(data-label);
                    display: table-cell;
                    width: 35%;
                    min-width: 35%;
                    border-right: solid 2px #dee2e6;
                    vertical-align: middle;
                    padding: rem(25px) rem(10px);
                    margin-right: rem(15px);
                    line-height: 1.3;
                }
                &:nth-last-child(2) {
                    padding: 0;
                }
            }
        }
    }
    &__head {
        background: #fcfcfc;
        border-bottom: 1px solid var(--borderColor);
        #{$self}__row {
            @media screen and (min-width: 992px) {
                padding: rem(25.92px) 0;
            }
            box-shadow: none;
            &--cell {
                color: #6b6b6b;
                font-size: rem(16px);
                font-weight: 400;
                padding: 0 rem(5px);
                text-transform: unset;
                @media screen and (max-width: 1300px) {
                    font-size: rem(15px);
                }
                @media screen and (max-width: 1025px) and (min-width: 992px) {
                    font-size: rem(14px);
                    a {
                        font-size: rem(14px);
                    }
                }
                &:first-child {
                    @media screen and (min-width: 992px) {
                        padding-left: rem(25px);
                        // text-align: left;
                        @media screen and (max-width: 1300px) {
                            padding-left: rem(15px) !important;
                        }
                    }
                }
                &:last-child {
                    @media screen and (min-width: 992px) {
                        padding-right: rem(25px);
                        // text-align: right;
                        @media screen and (max-width: 1300px) {
                            padding-right: rem(15px) !important;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    &__body {
        overflow: hidden;
        #{ $self }__row {
            &--cell {
                padding: 0 rem(5px);
            }
            @media screen and (min-width: 1025px) {
                &:hover {
                    background-color: #eef7fb;
                    cursor: pointer;
                    z-index: 1;
                    .table__row--cell {
                        &:first-child {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        border: 0;
    }
}

//dropDown
.dropdown {
    width: auto;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 415px;
    padding: 0 !important;
    padding-right: 4px !important;
    box-shadow: 0px 4px 25px rgba(107, 107, 107, 0.08) !important;
    border-radius: 6px !important;
    margin-top: rem(60px);
    left: 50% !important;
    transform: translateX(-50%) !important;
    border: 0;
    overflow: hidden;
    @media screen and (max-width: 991px) {
        width: 350px;
        left: -70px !important;
    }
    @media screen and (max-width: 575px) {
        width: 320px;
    }
    .inner-scroll {
        height: 350px;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 0 !important;
    }
    ul {
        display: block !important;
        li {
            margin-right: 0 !important;
            // &:not(:last-child) {
            // 	margin-bottom: rem(20px);
            // }
        }
    }
    li svg {
        position: absolute;
        right: 15px !important;
        top: 28px !important;
        transform: unset !important;
        width: 24px !important;
    }
    .button-row {
        .btn {
            background-color: var(--secondary) !important;
            color: #ffffff !important;
            border: 2px solid var(--secondary);
            @include flex(center,
            center);
            height: 52px;
            padding: rem(16px);
            border-radius: 8px;
            &:hover {
                background-color: #fff !important;
                color: var(--secondary) !important;
            }
        }
    }
}

.dropdown-item {
    position: relative;
    padding: rem(16px) 0;
    transition: unset;
    &:active {
        background-color: transparent;
    }
    &:hover {
        background-color: #eff1f2;
        .cartItems {
            box-shadow: none;
            background-color: unset;
        }
    }
}

.hideDesktop {
    display: none;
}

.b-0 {
    border: 0 !important;
}

[data-width='5'] {
    width: 5%;
}

[data-width='6'] {
    width: 6%;
}

[data-width='7'] {
    width: 7%;
}

[data-width='8'] {
    width: 8%;
}

[data-width='9'] {
    width: 9%;
}

[data-width='10'] {
    width: 10%;
}

[data-width='11'] {
    width: 11%;
}

[data-width='12'] {
    width: 12%;
}

[data-width='13'] {
    width: 13%;
}

[data-width='14'] {
    width: 14%;
}

[data-width='15'] {
    width: 15%;
}

[data-width='16'] {
    width: 16%;
}

[data-width='17'] {
    width: 17%;
}

[data-width='18'] {
    width: 18%;
}

[data-width='19'] {
    width: 19%;
}

[data-width='20'] {
    width: 20%;
}

[data-width='21'] {
    width: 21%;
}

[data-width='22'] {
    width: 22%;
}

[data-width='23'] {
    width: 23%;
}

[data-width='24'] {
    width: 24%;
}

[data-width='25'] {
    width: 25%;
}

[data-width='26'] {
    width: 26%;
}

[data-width='27'] {
    width: 27%;
}

[data-width='28'] {
    width: 28%;
}

[data-width='30'] {
    width: 30%;
}

[data-width='33'] {
    width: 33%;
}

[data-width='35'] {
    width: 35%;
}

[data-width='38'] {
    width: 38%;
}

[data-width='40'] {
    width: 40%;
}

[data-width='42'] {
    width: 42%;
}

[data-width='45'] {
    width: 45%;
}

[data-width='50'] {
    width: 50%;
}

[data-width='52'] {
    width: 52%;
}

[data-width='53'] {
    width: 53%;
}

[data-width='54'] {
    width: 54%;
}

[data-width='55'] {
    width: 55%;
}

[data-width='56'] {
    width: 56%;
}

[data-width='58'] {
    width: 58%;
}

// Tabs
.nav__tabs {
    border: 0;
    &--item {
        &:not(:last-child) {
            margin-right: rem(10px);
        }
        a {
            color: #5b5755;
            padding: rem(11px) rem(21px);
            border: 1px solid transparent;
            border-radius: 30px;
            text-decoration: none;
            @media screen and (min-width: 1025px) {
                &:hover {
                    color: #89201a;
                }
            }
            &.active {
                color: #89201a;
                border-color: #dcdcdc;
            }
        }
    }
}

// Tabs
// Images Lazy Loader
@keyframes load {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
}

.img-lazyloader {
    position: relative;
    // &:not(.loaded) {
    //     background: #cdcdcd;
    //     // min-height: 190px;
    //     img {
    //         opacity: 0;
    //         transition: opacity 0.6s ease;
    //     }
    //     &:after {
    //         content: '';
    //         display: block;
    //         position: absolute;
    //         left: -150px;
    //         top: 0;
    //         height: 100%;
    //         width: 150px;
    //         background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    //         animation: infinite load 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    //     }
    // }
}

// Images Lazy Loader
// Image Hover
@media screen and (min-width: 1025px) {
    .image-hover {
        position: relative;
        &:after,
        &:before {
            content: '';
            height: 0;
            width: 100%;
            position: absolute;
            background: rgba(255, 255, 255, 0.3);
            top: 0;
            bottom: 0;
            margin: auto;
            transition: 0.3s linear;
        }
        &:after {
            height: 0;
            width: 100%;
            left: 0;
            right: 0;
        }
        &:before {
            height: 100%;
            width: 0px;
            left: 0;
            right: 0;
        }
        &:hover {
            &:after,
            &:before {
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
    }
}

// Image Hover
// Detail List
.detail-list {
    @include flex(flex-start,
    flex-start);
    //margin-left: rem(-10px);
    //margin-right: rem(-10px);
    &.two-columns {
        ul {
            flex: 0 0 50%;
            li {
                &:first-child {
                    width: 42%;
                }
            }
        }
    }
    ul {
        @include flex(center,
        flex-start);
        list-style: none;
        padding-left: 0px;
        margin-bottom: rem(15px);
        flex: 0 0 33.3%;
        padding-left: rem(10px);
        padding-right: rem(10px);
        margin-bottom: rem(20px);
        li {
            //flex: 1;
            font-size: rem(14px);
            color: #555555;
            font-weight: 700;
            &:first-child {
                width: 56%;
                span.icon {
                    padding-right: rem(13px);
                    svg {
                        width: 18px;
                        height: auto;
                        color: #989898;
                    }
                    &.area {
                        svg {
                            width: 22px;
                        }
                    }
                    i {
                        font-size: 18px;
                        color: #989898;
                    }
                }
            }
            &:last-child {
                color: #a8372d;
            }
        }
    }
}

//progress-bar css
.front-page {
    .progress-container {
        background: transparent;
    }
}

.progress-container {
    width: 100%;
    position: fixed;
    top: 0;
    height: 6px;
    background: #fff;
    z-index: 99;
}

.progress {
    border-radius: 50px;
    width: 100%;
    height: 7px;
    margin: rem(12px) 0;
    .progress-bar {
        height: 7px;
        background: #ecab08;
        border-radius: 50px;
        // width: 0%;
    }
}

//toggler swtich css
.checkbox--switch {
    >input[type='checkbox'] {
        display: none;
        &:checked {
            +label {
                &:before {
                    background: #89201a;
                }
                &:after {
                    background: #fff;
                    left: 28px;
                }
            }
        }
    }
    >label {
        cursor: pointer;
        height: 0px;
        position: relative;
        top: -7px;
        width: 45px;
        &::before {
            background: #f0f0f0;
            box-shadow: unset;
            border-radius: 50px;
            content: '';
            height: 39px;
            margin-top: -8px;
            position: absolute;
            transition: all 0.4s ease-in-out;
            width: 65px;
        }
        &::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 36px;
            left: 3px;
            position: absolute;
            top: -6px;
            transition: all 0.3s ease-in-out;
            width: 36px;
            border-radius: 50px;
        }
    }
}

//custom-tooltip
.custom__tooltip {
    position: relative;
    &--content {
        font-size: rem(14px) !important;
        color: #010101 !important;
        background: #ffffff;
        position: absolute;
        left: -375px;
        top: 16px;
        min-width: 400px;
        line-height: normal;
        padding: 12px;
        text-transform: none;
        border-radius: 10px;
        letter-spacing: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.75);
        z-index: 2;
        transition: all 0.3s ease;
    }
    &--icon {
        display: inline-flex;
        vertical-align: inherit;
        svg {
            width: 13px;
            height: 13px;
        }
    }
    &:hover {
        .custom__tooltip--content {
            opacity: 1;
            visibility: visible;
        }
    }
}

// mcustomscrool
.mCSB_scrollTools {
    width: 7px;
    .mCSB_dragger {
        .mCSB_dragger_bar {
            background-color: #a8372d !important;
            width: 2px;
        }
    }
    .mCSB_draggerRail {
        background-color: #b4b4b4 !important;
        width: 2px;
    }
}

.mCSB_draggerContainer {
    background-color: #b4b4b4 !important;
    width: 2px;
}

// mcustomscrool
// loadmore
.loadmore {
    display: flex;
    margin: rem(40px) 0;
    img {
        animation: spin 2s linear infinite;
        max-width: 55px;
        margin: auto;
    }
}

// loadmore
// keyframe
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

// keyframe
//show hide classes on diffrent screens
@media screen and (max-width: 991px) {
    .hide-on-lg {
        display: none !important;
    }
    .show-on-lg {
        display: flex !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-on-md {
        display: none !important;
    }
    .show-on-md {
        display: flex !important;
    }
}

.slick-hidden {
    display: none !important;
}


/* Loaded styles */

.pre-loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: #fff;
    transition: all 0.6s ease;
    .logo {
        width: 85px;
    }
}

.loaded .pre-loader-wrapper {
    top: -100%;
}

.loader {
    //margin-top: rem(25px);
    // img {
    //     width: 75px;
    // }
}

.list-inline {
    @include flex(flex-start,
    flex-start);
}

.modal {
    text-align: center;
    padding: 0 !important;
    overflow: auto !important;
    // .modal-dialog-centered {
    // 	display: flex !important;
    // }
    .modal-dialog {
        max-width: 576px;
        width: 576px;
        text-align: left;
        vertical-align: middle;
        @media screen and (max-width: 620px) {
            max-width: auto;
            width: 95%;
            margin: auto;
        }
        .modal-content {
            box-shadow: none;
            border-radius: 24px;
            margin: 0 auto;
            pointer-events: all;
            background: #fff;
            overflow: visible;
            padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
            padding: rem(42px);
            box-shadow: 0px 4px 25px rgba(107, 107, 107, 0.08);
            @media screen and (max-width: 767px) {
                padding: rem(25px);
            }
            .modal-header {
                display: block;
                padding: 0;
                position: relative;
                border: 0;
                .logo {
                    margin-bottom: rem(32px);
                }
                .close {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    background: transparent;
                    border: 0;
                    outline: none;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' icon-id='cross-icon' icon-viewBox='0 0 12 12'%3E%3Cg id='cross-icon'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.6129 0.209705C1.22061 -0.0953203 0.653377 -0.0675907 0.292893 0.292893C-0.0976311 0.683418 -0.0976311 1.31658 0.292893 1.70711L4.58579 6L0.292893 10.2929L0.209705 10.3871C-0.0953203 10.7794 -0.0675907 11.3466 0.292893 11.7071C0.683418 12.0976 1.31658 12.0976 1.70711 11.7071L6 7.41421L10.2929 11.7071L10.3871 11.7903C10.7794 12.0953 11.3466 12.0676 11.7071 11.7071C12.0976 11.3166 12.0976 10.6834 11.7071 10.2929L7.41421 6L11.7071 1.70711L11.7903 1.6129C12.0953 1.22061 12.0676 0.653377 11.7071 0.292893C11.3166 -0.0976311 10.6834 -0.0976311 10.2929 0.292893L6 4.58579L1.70711 0.292893L1.6129 0.209705Z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
                    padding: 10px;
                    font-size: 0;
                    z-index: 9;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                svg {
                    position: static;
                    width: 134px;
                    transform: scale(1.5);
                }
            }
            .title {
                font-weight: 500;
                font-size: rem(32px);
                color: var(--textPrimary);
                margin-bottom: rem(10px);
                line-height: 1;
            }
            .sub-title {
                font-weight: 400;
                font-size: rem(16px);
                color: var(--default);
                line-height: 1;
                margin-bottom: rem(24px);
            }
            .modal-body {
                padding: 0;
                .show-pw {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #afafaf;
                    font-size: 1rem;
                    .eye-icon,
                    &.eye-slash {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2255 4C8.59905 4 5.44392 6.18033 2.78837 10.4042C2.17462 11.3804 2.17472 12.622 2.78861 13.5981L3.01378 13.9494C5.62455 17.9431 8.70415 20 12.2255 20C15.8948 20 18.9532 17.7691 21.3593 13.4621C21.8673 12.5527 21.8672 11.4448 21.359 10.5355L21.1552 10.1784C18.7784 6.10474 15.7882 4 12.2255 4ZM12.2255 6C14.9968 6 17.3809 7.67808 19.423 11.1782L19.6177 11.5192C19.7825 11.8143 19.7826 12.1836 19.6132 12.4867C17.5311 16.2139 15.0824 18 12.2255 18C9.45979 18 6.95947 16.33 4.69264 12.8625L4.47696 12.526C4.27699 12.2079 4.27696 11.7941 4.48154 11.4687C6.80233 7.77729 9.37423 6 12.2255 6Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9995 8C9.79024 8 8 9.79062 8 12.0005C8 14.2096 9.79043 16 11.9995 16C14.2087 16 16 14.2095 16 12.0005C16 9.7907 14.2089 8 11.9995 8ZM11.9995 10C13.1044 10 14 10.8954 14 12.0005C14 13.1047 13.1043 14 11.9995 14C10.895 14 10 13.105 10 12.0005C10 10.8951 10.8949 10 11.9995 10Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
                        height: 24px;
                        width: 24px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    .eye-icon.eye-slash {
                        z-index: 2;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.7071 2.29289C21.3166 1.90237 20.6834 1.90237 20.2929 2.29289L17.0679 5.51793C15.5913 4.5102 13.9696 4 12.224 4C8.66121 4 5.55175 6.10549 2.92612 10.1852C2.21331 11.2928 2.30631 12.7358 3.15539 13.7427L3.82147 14.5287L4.60184 15.4363L5.26038 16.185L5.54441 16.5002L5.80473 16.7811L2.29289 20.2929L2.2097 20.3871C1.90468 20.7794 1.93241 21.3466 2.29289 21.7071C2.68342 22.0976 3.31658 22.0976 3.70711 21.7071L21.7071 3.70711L21.7903 3.6129C22.0953 3.22061 22.0676 2.65338 21.7071 2.29289ZM7.21968 15.3661L15.6219 6.96388C14.5646 6.31799 13.4379 6 12.224 6C9.42468 6 6.89615 7.71212 4.60793 11.2676C4.37033 11.6368 4.40132 12.1178 4.68436 12.4534L5.72377 13.6755L6.41871 14.4762L6.9907 15.1181L7.21968 15.3661ZM19.473 9.35871C19.9424 9.06766 20.5588 9.21222 20.8499 9.68159L21.1753 10.2477L21.3513 10.5638C21.8554 11.4728 21.853 12.5779 21.3451 13.4847C18.9411 17.7768 15.8868 20 12.224 20C11.7602 20 11.2942 19.964 10.8438 19.8928C10.2983 19.8065 9.92602 19.2944 10.0123 18.7489C10.0985 18.2034 10.6107 17.8311 11.1562 17.9173C11.5023 17.972 11.864 18 12.224 18C15.0757 18 17.5204 16.2205 19.6002 12.5074C19.7695 12.2051 19.7703 11.8367 19.6022 11.5337L19.1501 10.7356C18.8591 10.2662 19.0036 9.64976 19.473 9.35871Z' fill='%238E8E8E'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9995 8C13.0626 8 14.0623 8.41783 14.805 9.14854C15.1988 9.53585 15.2039 10.169 14.8166 10.5627C14.4293 10.9564 13.7962 10.9616 13.4025 10.5743C13.0301 10.208 12.5325 10 11.9995 10C10.8949 10 10 10.8951 10 12.0005C10 12.545 10.2172 13.0524 10.5978 13.4266C10.9916 13.8137 10.9971 14.4469 10.6099 14.8407C10.2227 15.2346 9.58956 15.24 9.19572 14.8528C8.43643 14.1064 8 13.0869 8 12.0005C8 9.79062 9.79024 8 11.9995 8Z' fill='%238E8E8E'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
                p {
                    font-size: rem(16px);
                    color: #6b6b6b;
                }
                .inline-buttons {
                    display: inline-flex;
                    align-items: center;
                    margin-top: 5px;
                    .btn {
                        &:not(:last-child) {
                            margin-right: rem(24px);
                        }
                        // &.btn-primary {
                        // 	box-shadow: 0px 9px 25px rgba(234, 90, 67, 0.35) !important;
                        // }
                    }
                }
            }
            .modal-footer {
                display: none;
            }
            input {
                padding-right: rem(48px);
            }
            svg {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: 24px;
                transform: translateY(-50%);
            }
        }
    }
    .modal-xl {
        &.modal-dialog {
            width: 1065px;
            max-width: 1065px;
            @media screen and (max-width: 1100px) {
                width: 990px;
                max-width: 990px;
            }
            @media screen and (max-width: 991px) {
                width: 95%;
                max-width: 95%;
            }
            .swiper-container {
                padding: 30px 0;
            }
        }
    }
    &#aboutVoxel {
        .modal-dialog {
            width: 700px;
            max-width: 700px;
            @media screen and (max-width: 991px) {
                width: 90%;
                max-width: 90%;
            }
            .modal-content {
                padding: rem(20px);
                border-radius: 16px;
                .close {
                    position: absolute;
                    right: -55px;
                    opacity: 1;
                    @media screen and (max-width: 991px) {
                        right: 0px;
                        top: -26px;
                    }
                    svg {
                        color: #fff;
                        transform: scale(1.5);
                    }
                    @media screen and (min-width: 1025px) {
                        &:hover {
                            svg {
                                color: var(--secondary);
                            }
                        }
                    }
                }
            }
        }
    }
}

//header dropdown animation
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

//header dropdown animation
.v-dropdown-item[data-v-138dff1d] {
    color: #000;
    font-size: rem(18px);
    font-weight: 600;
    @media screen and (min-width: 1025px) {
        &:hover {
            &:not(.default-option) {
                background-color: #d21b87 !important;
                color: #fff;
            }
        }
    }
    &.selected {
        background: #d21b87 !important;
        color: #fff !important;
    }
}

.v-dropdown-container[data-v-138dff1d] {
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.v-select-toggle[data-v-138dff1d] {
    padding: rem(22px) rem(25px) !important;
    background: #fff !important;
    border-radius: 0 !important;
    font-size: rem(18px) !important;
    font-weight: 600 !important;
    color: #000000 !important;
    &:focus,
    &.active,
    &:active {
        background: #d21b87 !important;
        color: #fff !important;
        .arrow-down {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='17px'%3E%3Cdefs%3E%3Cfilter id='Filter_0'%3E%3CfeFlood flood-color='rgb(255, 255, 255)' flood-opacity='1' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut' /%3E%3CfeBlend mode='normal' in='compOut' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(137, 32, 26)' d='M12.660,15.488 L1.482,4.128 C0.771,3.406 0.771,2.235 1.482,1.512 C2.193,0.790 3.346,0.790 4.057,1.512 L13.948,11.563 L23.838,1.512 C24.549,0.790 25.701,0.790 26.412,1.512 C27.123,2.235 27.123,3.406 26.412,4.128 L15.234,15.488 C14.879,15.849 14.413,16.030 13.948,16.030 C13.481,16.030 13.015,15.848 12.660,15.488 Z'/%3E%3C/g%3E%3C/svg%3E");
        }
        @media screen and (min-width: 1025px) {
            &:hover {
                background: #d21b87 !important;
                color: #fff !important;
                .arrow-down {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='17px'%3E%3Cdefs%3E%3Cfilter id='Filter_0'%3E%3CfeFlood flood-color='rgb(255, 255, 255)' flood-opacity='1' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut' /%3E%3CfeBlend mode='normal' in='compOut' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(137, 32, 26)' d='M12.660,15.488 L1.482,4.128 C0.771,3.406 0.771,2.235 1.482,1.512 C2.193,0.790 3.346,0.790 4.057,1.512 L13.948,11.563 L23.838,1.512 C24.549,0.790 25.701,0.790 26.412,1.512 C27.123,2.235 27.123,3.406 26.412,4.128 L15.234,15.488 C14.879,15.849 14.413,16.030 13.948,16.030 C13.481,16.030 13.015,15.848 12.660,15.488 Z'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
        }
    }
    .arrow-down {
        border: 0;
        // width: 12px;
        // height: 7px;
        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='rgb(137, 32, 26)' d='M5.547,6.407 L0.859,1.580 C0.560,1.272 0.560,0.775 0.859,0.468 C1.157,0.161 1.640,0.161 1.938,0.468 L6.087,4.739 L10.236,0.468 C10.534,0.161 11.018,0.161 11.316,0.468 C11.614,0.775 11.614,1.273 11.316,1.580 L6.627,6.407 C6.478,6.561 6.283,6.638 6.087,6.638 C5.892,6.638 5.696,6.561 5.547,6.407 Z'/%3E%3C/svg%3E");
        width: 27px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='17px'%3E%3Cdefs%3E%3Cfilter id='Filter_0'%3E%3CfeFlood flood-color='rgb(211, 27, 136)' flood-opacity='1' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut' /%3E%3CfeBlend mode='normal' in='compOut' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(137, 32, 26)' d='M12.660,15.488 L1.482,4.128 C0.771,3.406 0.771,2.235 1.482,1.512 C2.193,0.790 3.346,0.790 4.057,1.512 L13.948,11.563 L23.838,1.512 C24.549,0.790 25.701,0.790 26.412,1.512 C27.123,2.235 27.123,3.406 26.412,4.128 L15.234,15.488 C14.879,15.849 14.413,16.030 13.948,16.030 C13.481,16.030 13.015,15.848 12.660,15.488 Z'/%3E%3C/g%3E%3C/svg%3E");
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
    }
}

// datepicker styling
.b-calendar .b-calendar-grid-body .col[data-date] .btn {
    min-width: auto;
}

#example-datepickerr__dialog_ {
    // left: 50%!important;
    // transform: translateX(-50%)!important;
}

.b-form-btn-label-control.form-control>label {
    min-height: auto;
}

.b-calendar-grid-body .btn {
    color: #4d2555;
}

// inner scroll styling{
.__vuescroll {
    .__rail-is-vertical {
        background: #b2b2b2 !important;
        border-radius: 0 !important;
        right: 0 !important;
    }
    .__bar-is-vertical {
        border-radius: 0 !important;
        background: rgb(6, 28, 114) !important;
        background: linear-gradient( 180deg, rgba(6, 28, 114, 1) 51%, rgba(150, 22, 158, 1) 51%) !important;
    }
}

// imagehovereffect
@media screen and (min-width: 1025px) {
    .img-hover {
        position: relative;
        z-index: 9;
        overflow: hidden;
        &:before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }
        &:hover {
            &:before {
                -webkit-animation: shine 0.8s;
                animation: shine 0.8s;
            }
        }
    }
}

// imagehovereffect
// imagehovereffect keyframe
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

// datepicker styling
.vdp-datepicker {
    .form-control {
        background: #fff;
        height: 73px;
        box-shadow: 0px 0px 12px #d6d6d6;
        border: 0 !important;
        width: 100%;
        color: #6e337a;
        font-weight: 700 !important;
        &::placeholder {
            color: #6e337a;
            font-weight: 700 !important;
        }
    }
    &:after {
        content: '\f073';
        color: #d31b88;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        font-size: rem(30px);
        top: 50%;
        transform: translateY(-50%);
        right: rem(15px);
        z-index: 4;
    }
    .input-group-append {
        position: absolute;
        right: 49px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        .input-group-text {
            background: #fff;
            padding: 0;
            border: 0;
            color: #d31b88;
            font-size: rem(22px);
        }
    }
    &__calendar {
        border: 0 !important;
        box-shadow: 0px 0px 14px #d6d6d6;
        @media screen and (min-width: 768px) {
            width: 100% !important;
        }
        .cell {
            color: #4d2555 !important;
            font-weight: 600 !important;
            &.selected {
                background: #d31b88 !important;
                color: #fff !important;
            }
            &:not(.blank):not(.disabled).day:hover,
            &:not(.blank):not(.disabled).month:hover,
            &:not(.blank):not(.disabled).year:hover {
                border-color: #d31b88 !important;
            }
        }
        header .prev:not(.disabled):hover,
        header .next:not(.disabled):hover,
        header .up:not(.disabled):hover {
            background: #d31b88 !important;
            color: #fff !important;
        }
        header {
            span {
                color: #6e337a !important;
                font-weight: 600 !important;
            }
        }
        header .prev {
            &:after {
                border-right-color: #d31b88 !important;
            }
            &:hover {
                &:after {
                    border-right-color: #fff !important;
                }
            }
        }
        header .next {
            &:after {
                border-left-color: #d31b88 !important;
            }
            &:hover {
                &:after {
                    border-left-color: #fff !important;
                }
            }
        }
    }
}

// inner scroll styling{
.__vuescroll {
    .__rail-is-vertical {
        background: #b2b2b2 !important;
        border-radius: 0 !important;
        right: 0 !important;
    }
    .__bar-is-vertical {
        border-radius: 0 !important;
        background: rgb(6, 28, 114) !important;
        background: linear-gradient( 180deg, rgba(6, 28, 114, 1) 51%, rgba(150, 22, 158, 1) 51%) !important;
    }
}


/* 2532x1170 pixels at 460ppi */

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .contentWrapper {
        .container {
            //padding: 0 40px;
            padding-left: env(safe-area-inset-left);
            padding-right: env(safe-area-inset-right);
        }
    }
}


/* 2778x1284 pixels at 458ppi */

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .contentWrapper {
        .container {
            //padding: 0 40px;
            padding-left: env(safe-area-inset-left);
            padding-right: env(safe-area-inset-right);
        }
    }
}

video {
    width: 100%;
    height: 100%;
    @media screen and (min-width: 992px) {
        background: #000;
    }
}

.swiper-pagination-bullet {
    width: rem(12px);
    height: rem(12px);
}

.swiper-pagination-bullet-active {
    background: #ea5a43;
}

.swiper-pagination {
    bottom: 25px !important;
}