:root {
    --primary: #1a90d2;
    --secondary: #ea5a43;
    --default: #6b6b6b;
    --textPrimary: #171716;
    --textSecondary: #8e8e8e;
    --black: #22272e;
    --orange: #ea5a43;
    --borderColor: #e9e9e9;
    --imageBg: #f5f5f5;
    // --primary: #171716;
    // --secondary: #8e8e8e;
    // --grey: #6b6b6b;
    // --black: #22272e;
    // --orange: #ea5a43;
    // --info: #1a90d2;
    // --default:#E9E9E9;
    // --yellow: #d1c12f;
    // --textcolor: #444444;
    // --highlight: #cf0073;
    // --bg: #f8f8f8;
    --nav-item-offset: 10vw;
    --nav-item-hover-offset: 2%;
    --easing: cubic-bezier(0.8, 0, 0.2, 1);
    --duration: 0.6s;
    --overlay-bg: #000 !important;
    --transition-duration: 0.4s !important;
    --toggleColor: var(--primary);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import 'functions';
// Fonts
$primary-font: 'Rubik',
sans-serif;
// $arabic-font: 'qt_zaintext_bold_pcwebfont';
//** Primary Font
// font sizes
$h--1: ( base: rem(64px),
mobile: rem(40px),
tablet: rem(50px),
wide: rem(64px),
);
$h--2: ( base: rem(48px),
mobile: rem(33px),
tablet: rem(38px),
wide: rem(48px),
);
$h--3: ( base: rem(32px),
mobile: rem(22px),
tablet: rem(25px),
wide: rem(32px),
);
$h--4: ( base: rem(24px),
mobile: rem(20px),
tablet: rem(22px),
wide: rem(24px),
);
$h--5: ( base: rem(20px),
mobile: rem(17px),
tablet: rem(19px),
wide: rem(20px),
);
$h--6: ( base: rem(16px),
mobile: rem(15px),
tablet: rem(15px),
wide: rem(16px),
);
$p: rem(16px);
$p--large: rem(18px);
$p--medium: rem(15px);
$p--small: rem(14px);
$breakpoints: ( mobile: 414px,
tablet: 991px,
wide: 1300px,
) !default;