@import 'import';
body.modal-open {
    padding-right: 0px !important;
}

.main-title {
    font-size: rem(28px);
    margin-bottom: rem(25px);
    span {
        margin-left: rem(5px);
        font-size: rem(20px);
        font-weight: 400;
    }
    @media screen and (max-width: 575px) {
        font-size: rem(23px);
        span {
            font-size: rem(17px);
        }
    }
}

.viewMore {
    svg {
        transition: 0.3s ease all;
    }
    @media screen and (min-width: 1025px) {
        .viewMore:hover {
            svg {
                transform: translate(7px, 2px);
            }
        }
    }
}

a.see-more {
    color: var(--secondary);
    text-decoration: none;
    text-transform: capitalize;
    font-size: rem(16px);
    font-weight: 500;
    transition: 0.3s ease all;
    svg {
        margin-left: rem(17px);
        transform: translateY(2px);
    }
}

@media screen and (max-width: 767px) {
    .d-none-767 {
        display: none !important;
    }
    .d-show-767 {
        display: block !important;
    }
}

.bestSeller {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ec9915;
    padding: 0.625rem 1.625rem;
    text-transform: uppercase;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 20px;
}

//Product Item Styling
// case steps csss
.inner-title {
    font-size: rem(16px);
    color: var(--default);
    font-weight: 400;
    text-transform: none;
    margin-top: rem(5px);
    display: inline-block;
    margin-bottom: rem(15px);
    svg {
        margin-left: rem(5px);
        margin-top: rem(-3px);
        width: 24px;
        height: 24px;
        color: var(--primary);
    }
}

@media screen and (max-width: 575px) {
    .stack-on-sm {
        &.inline-btns-wrapper {
            flex-direction: column !important;
            .btn {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: rem(14px) !important;
                }
            }
        }
    }
}

// shop
.offerBar {
    background: linear-gradient(345.63deg, #ebaea4 -196.47%, #f7c0b7 90.84%);
    position: relative;
    padding: rem(16px) rem(48px);
    border-radius: 34px;
    margin-bottom: rem(34px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        height: auto;
        text-align: center;
        border-radius: 12px;
    }
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../images/offer-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &--text {
        font-size: rem(16px);
        font-weight: 400;
        color: var(--textPrimary);
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    b {
        display: inline-block;
        font-weight: 500;
        margin-left: rem(3px);
        @media screen and (max-width: 767px) {
            display: inline;
        }
    }
    &--icon {
        margin-right: rem(12px);
        color: #ea5a43;
        svg {
            width: 32px;
            height: 32px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: rem(10px);
            margin-right: 0;
            flex: 0 0 100%;
        }
    }
    &--countdown {
        font-size: rem(16px);
        font-weight: 500;
        color: var(--textPrimary);
        z-index: 2;
    }
}

.shop {
    .grid {
        @media screen and (min-width: 992px) {
            grid-template-columns: 280px 1fr;
        }
        @media screen and (max-width: 991px) {
            grid-template-columns: none;
        }
    }
    .productItem__info--title {
        @include truncate(1);
    }
    &__listing {
        .row {
            @media screen and (max-width: 1300px) and (min-width: 992px) {
                > div {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }
            @media screen and (max-width: 991px) {
                margin-left: -5px;
                margin-right: -5px;
                .col-md-4.col-sm-6 {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            .card {
                max-width: 400px;
                margin: auto auto rem(25px) auto;
            }
        }
    }
}

.shop {
    &__filter {
        .toggleFilterbtn {
            display: none;
            width: 100%;
            margin-bottom: rem(50px);
            svg {
                margin-left: 8px;
            }
            @media screen and (max-width: 991px) {
                display: block;
            }
        }
    }
}

.shopFilter {
    @media screen and (min-width: 992px) {
        display: block !important;
    }
    @media screen and (max-width: 991px) {
        display: none;
    }
    @media screen and (max-width: 991px) {
        .shopFilter.active {
            display: block;
        }
    }
    &.active {
        @media screen and (max-width: 991px) {
            display: block;
        }
    }
    &__type {
        font-size: rem(12px);
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        padding-left: rem(12px);
        margin-bottom: rem(35px);
        &::before {
            position: absolute;
            top: -2px;
            left: 0;
            content: '';
            border: 1px solid #6b6b6b;
            width: 2px;
            height: 16px;
        }
    }
    ul {
        list-style: none;
        margin-left: rem(12px);
        margin-bottom: rem(50px);
        li {
            font-size: rem(16px);
            font-weight: 400;
            color: var(--textSecondary);
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: rem(28px);
            }
            b {
                font-weight: 500;
                color: var(--textPrimary);
            }
            span {
                font-size: rem(14px);
                margin-left: rem(5px);
            }
        }
    }
    a {
        color: var(--primary);
        float: right;
        letter-spacing: 1px;
        &:hover {
            color: var(--secondary);
        }
    }
    .checkbox {
        padding-top: unset;
        span {
            font-size: rem(16px) !important;
            font-weight: 400;
            padding-bottom: unset !important;
            margin-left: unset;
        }
    }
}

.productItem {
    &.card {
        border-radius: 16px;
        border: 2px solid var(--borderColor);
        margin-bottom: rem(24px);
        overflow: unset;
        position: relative;
    }
    &__bestSeller {
        position: absolute;
        top: -2px;
        left: -2px;
        font-size: rem(12px);
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
        background: #ec9915;
        padding: rem(10px) rem(26px);
        text-transform: uppercase;
        border-top-left-radius: 14px;
        border-bottom-right-radius: 20px;
    }
    &__addToCart {
        color: #00966d;
        background: #edfdf3;
        border: 1px solid #a8eec4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(19px) 0;
        padding-left: rem(17px);
        padding-right: rem(26px);
        height: 52px;
        font-size: rem(12px);
        font-weight: 500;
        border-radius: 8px;
        width: 100%;
        white-space: nowrap;
        .icon {
            margin-right: rem(13px);
            margin-top: rem(-6px);
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .card__body {
        padding: rem(24px);
        p {
            font-size: rem(14px);
            color: #6b6b6b;
            @include truncate(2);
        }
    }
    &__image {
        background: #f5f5f5;
        text-align: center;
        border-radius: 16px;
        margin-bottom: rem(22px);
        img {
            margin: auto;
        }
    }
    &__info {
        &--title {
            font-size: rem(20px);
            font-weight: 400;
            color: var(--textPrimary);
            margin-bottom: rem(16px);
            @include truncate(2);
        }
        &--price {
            display: flex;
            align-items: center;
            font-size: rem(24px);
            font-weight: 500;
            color: var(--textPrimary);
            margin-bottom: rem(14px);
        }
        &--oldprice {
            font-size: rem(16px);
            font-weight: 400;
            color: var(--textSecondary);
            text-decoration-line: line-through;
            padding-left: rem(10px);
        }
        &--soldby {
            font-size: rem(14px);
            font-weight: 400;
            font-style: italic;
            color: var(--textSecondary);
            margin-bottom: rem(19px);
            opacity: 1;
            i {
                opacity: 0.8;
            }
        }
        &--seemore {
            color: var(--secondary);
            text-decoration: none;
            text-transform: capitalize;
            font-size: rem(16px);
            font-weight: 500;
            position: relative;
            transition: 0.5s ease all;
            &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 9.70711C-0.0675908 9.34662 -0.0953203 8.77939 0.209705 8.3871L0.292893 8.29289L3.585 5L0.292893 1.70711C-0.0675911 1.34662 -0.0953207 0.779391 0.209704 0.3871L0.292893 0.292893C0.653377 -0.0675907 1.22061 -0.0953208 1.6129 0.209704L1.70711 0.292893L5.70711 4.29289C6.06759 4.65338 6.09532 5.22061 5.7903 5.6129L5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292893 9.70711Z' fill='%23EA5A43'/%3E%3C/svg%3E ");
                height: 10px;
                width: 10px;
                right: -30px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.5s ease all;
            }
            &:hover {
                color: var(--secondary);
                &:after {
                    right: -35px;
                }
            }
        }
    }
    .button-row {
        margin-top: rem(22px);
    }
    .inline-button {
        display: flex;
        margin-top: rem(22px);
        .btn {
            @media screen and (max-width: 1600px) {
                padding: rem(15px) rem(12px);
            }
            &:not(:last-child) {
                margin-right: rem(14px);
                @media screen and (max-width: 1350px) {
                    margin-right: 6px;
                }
            }
        }
    }
}

//breadCrumb css
.breadCrumb {
    margin-bottom: rem(32px);
    .breadcrumb {
        background: transparent;
        &-item {
            margin-bottom: 0;
            color: var(--textSecondary);
            opacity: 1;
            font-size: rem(14px);
            font-weight: 400;
            padding-right: rem(24px);
            padding-left: rem(8px);
            position: relative;
            text-transform: capitalize;
            margin-bottom: rem(10px);
            &:first-child {
                padding-left: 0;
            }
            &:not(:first-child) {
                &::before {
                    content: '/';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10px;
                    color: #c9c9c9;
                    padding-right: 0;
                }
            }
            a {
                color: var(--primary);
                opacity: 1;
                font-size: rem(14px);
                font-weight: 500;
                transition: 0.3s ease all;
                text-transform: capitalize;
                text-decoration: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

// product detail
.see-more {
    font-size: rem(16px);
    font-weight: 700;
    margin-left: rem(12px);
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s ease all;
    @media screen and (max-width: 767px) {
        margin-left: rem(0px);
        flex: 0 0 100%;
        margin-top: rem(10px);
        margin-bottom: rem(10px);
    }
    i.fa-angle-right {
        margin-left: rem(17px);
        font-weight: 700;
        transition: 0.4s ease all;
    }
    &:hover {
        @media screen and (min-width: 1025px) {
            .see-more {
                color: var(--primary);
            }
            i.fa-angle-right {
                transform: translateX(7px);
            }
        }
    }
}

.productDetail {
    .productDetailWrapper {
        @media screen and (max-width: 991px) {
            display: flex;
            flex-direction: column-reverse;
        }
        .swiper {
            padding-bottom: rem(50px);
            .swiper-pagination {
                left: 42%;
                transform: translateX(-50%);
                @media screen and (max-width: 991px) {
                    left: 50%;
                }
            }
        }
    }
    &__left {
        float: left;
        width: 68%;
        transition: all 0.5s ease;
        @media screen and (max-width: 1300px) {
            width: 62%;
            padding-right: rem(30px);
        }
        @media screen and (max-width: 991px) {
            padding-right: 0px;
            margin-top: rem(50px);
            float: none;
            width: 100%;
        }
        &--item {
            margin-bottom: rem(35px);
            @media screen and (max-width: 991px) {
                text-align: center;
            }
            &--image {
                margin-bottom: rem(15px);
                @media screen and (max-width: 991px) {
                    text-align: center;
                }
            }
            h5 {
                margin-top: rem(25px);
                margin-bottom: rem(15px);
                line-height: 1.1;
            }
            p {
                font-size: rem(14px);
                &.bold-text {
                    font-weight: 500;
                }
                span {
                    color: var(--secondary);
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
    &__right {
        float: right;
        width: 32%;
        @media screen and (max-width: 1300px) {
            width: 38%;
        }
        @media screen and (max-width: 991px) {
            float: none;
            width: 100%;
        }
        &--selectItems {
            font-size: rem(14px);
            &--Title {
                color: var(--textPrimary);
                font-size: rem(24px);
                line-height: 1.4;
                margin-bottom: rem(25px);
            }
            &--subTitle {
                color: #8e8e8e;
                line-height: 1;
                margin: rem(14px) 0 rem(10px) 0;
            }
            &--price {
                color: var(--textPrimary);
                font-size: rem(28px);
                font-weight: 500;
                line-height: 1.1;
                margin-bottom: rem(10px);
                display: flex;
                align-items: center;
                span {
                    color: #8e8e8e;
                    font-size: rem(14px);
                    margin-left: rem(10px);
                    text-decoration: line-through;
                    font-weight: 400;
                }
            }
            &--soldBy {
                font-style: italic;
                color: #8e8e8e;
                line-height: 1;
                margin-bottom: rem(10px);
            }
            &--quantity {
                margin: rem(18px) 0 rem(32px) 0;
                label {
                    color: var(--default);
                    font-size: rem(16px);
                    margin-bottom: rem(10px);
                }
                .form-group {
                    width: 156px;
                    border-radius: 12px;
                    border: 2px solid var(--borderColor);
                    @media screen and (max-width: 991px) {
                        margin: auto;
                    }
                    .form-control {
                        height: auto;
                        padding: 0 rem(10px);
                        text-align: center;
                        background-color: transparent;
                    }
                }
                .btn {
                    &.bootstrap-touchspin-down,
                    &.bootstrap-touchspin-up {
                        position: relative;
                        background: transparent;
                        color: #000;
                        font-size: rem(24px);
                        border: 0;
                        min-width: 50px;
                        padding: 0 rem(10px);
                        font-size: 0;
                        &::before {
                            position: absolute;
                            content: '';
                            height: 24px;
                            width: 24px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &.bootstrap-touchspin-down {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.01' x='24' y='24' width='24' height='24' transform='rotate(180 24 24)' fill='%2322272E'/%3E%3Cpath d='M18.125 13H5.875C5.39175 13 5 12.5523 5 12C5 11.4477 5.39175 11 5.875 11H18.125C18.6082 11 19 11.4477 19 12C19 12.5523 18.6082 13 18.125 13Z' fill='%2322272E'/%3E%3C/svg%3E%0A");
                        }
                    }
                    &.bootstrap-touchspin-up {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.01' x='24.5' y='24' width='24' height='24' transform='rotate(180 24.5 24)' fill='%2322272E'/%3E%3Cpath d='M19.125 11.125H13.875V5.875C13.875 5.39175 13.4832 5 13 5C12.5168 5 12.125 5.39175 12.125 5.875V11.125H6.875C6.39175 11.125 6 11.5168 6 12C6 12.4832 6.39175 12.875 6.875 12.875H12.125V18.125C12.125 18.6082 12.5168 19 13 19C13.4832 19 13.875 18.6082 13.875 18.125V12.875H19.125C19.6082 12.875 20 12.4832 20 12C20 11.5168 19.6082 11.125 19.125 11.125Z' fill='%2322272E'/%3E%3C/svg%3E%0A");
                        }
                    }
                    &:active {
                        background-color: transparent !important;
                    }
                }
            }
            .see-more {
                display: block;
                text-align: center;
                margin-top: rem(35px);
            }
            @media screen and (max-width: 991px) {
                text-align: center;
                &--quantity {
                    .quantityToggle {
                        margin: auto;
                    }
                }
                &--price {
                    justify-content: center;
                }
            }
            @media screen and (max-width: 991px) and (min-width: 500px) {
                .button-row {
                    .btn {
                        width: 300px;
                        margin: auto;
                    }
                }
            }
        }
        .checkbox {
            span {
                padding-bottom: 0;
                padding-left: rem(32px);
                &:after,
                &:before {
                    top: 2px !important;
                }
                b {
                    font-weight: 400;
                    color: #22272e;
                    font-size: rem(20px);
                }
                i {
                    font-style: normal;
                    font-size: rem(16px);
                    font-weight: 500;
                    color: var(--textPrimary);
                    &.oldPrice {
                        text-decoration: line-through;
                        color: var(--textSecondary);
                        font-weight: 400;
                        margin-left: rem(8px);
                    }
                }
            }
        }
    }
    &__relatedProducts {
        position: relative;
        padding-top: rem(20px);
    }
    .sliderNavigation__controls {
        top: 10px;
        &--arrow {
            width: rem(52px);
            height: rem(52px);
            border: solid 1px var(--default) !important;
            color: var(--default);
            &.nextArrow {
                right: 20px;
            }
            &.prevArrow {
                right: 100px;
                @media screen and (max-width: 991px) {
                    right: 75px;
                }
            }
            &:hover {
                color: #fff;
                background: var(--default);
            }
        }
        // &--arrow {
        // 	right: 15px !important;
        // }
        // &--arrow.prevArrow {
        // 	right: 100px !important;
        // }
        @media screen and (min-width: 1025px) {
            .sliderNavigation__controls--arrow:hover {
                background: var(--default);
            }
        }
    }
}

// touch spin
// .quantityToggle {
// 	display: flex;
// 	justify-content: space-around;
// 	align-items: center;
// 	width: 196px;
// 	border-radius: 12px;
// 	padding: rem(16px);
// 	border: 2px solid var(--borderColor);
// 	input {
// 		width: 50px;
// 		text-align: center;
// 		font-size: rem(16px);
// 		font-weight: 500;
// 		border: none;
// 		outline: none;
// 		background: transparent;
// 	}
// 	button {
// 		width: 24px;
// 		height: 24px;
// 		fill: #000;
// 		background: transparent;
// 		border: none;
// 		transition: all 0.5s ease;
// 		cursor: pointer;
// 		&:hover {
// 			opacity: 0.7;
// 		}
// 		&:focus {
// 			outline: none;
// 			outline: none;
// 		}
// 	}
// }
.sectionTitle {
    font-size: rem(28px);
    color: var(--black);
    font-weight: 500;
}

.productDetail {
    &__relatedProducts {
        position: relative;
        .sectionTitle {
            margin-bottom: rem(35px);
        }
    }
}

.productDetail__relatedProducts {
    .baseSliderWrapper {
        @media screen and (max-width: 991px) {
            .sliderNavigation {
                &__controls {
                    justify-content: space-between;
                    max-width: 130px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            padding-bottom: 60px;
            .sliderNavigation {
                top: auto;
                margin: auto;
                bottom: 0;
                left: 0;
                &__controls {
                    margin: auto;
                }
            }
        }
    }
}

.productItem {
    &.card {
        border-radius: 16px;
        border: 2px solid var(--borderColor);
        margin-bottom: rem(24px);
        overflow: unset;
        position: relative;
    }
    &__bestSeller {
        position: absolute;
        top: -2px;
        left: -2px;
        font-size: rem(12px);
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
        background: #ec9915;
        padding: rem(10px) rem(26px);
        text-transform: uppercase;
        border-top-left-radius: 14px;
        border-bottom-right-radius: 20px;
    }
    &__addToCart {
        color: #00966d;
        background: #edfdf3;
        border: 1px solid #a8eec4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(19px) 0;
        padding-left: rem(17px);
        padding-right: rem(26px);
        height: 52px;
        font-size: rem(12px);
        font-weight: 500;
        border-radius: 8px;
        width: 100%;
        white-space: nowrap;
        .icon {
            margin-right: rem(13px);
            margin-top: rem(-6px);
            @media screen and (max-width: 991px) and (min-width: 767px) {
                margin-right: rem(5px);
            }
        }
    }
    .card__body {
        padding: rem(24px);
        p {
            font-size: rem(14px);
            color: #6b6b6b;
            @include truncate(2);
        }
    }
    &__image {
        background: #f5f5f5;
        text-align: center;
        border-radius: 16px;
        margin-bottom: rem(22px);
        img {
            margin: auto;
        }
    }
    &__info {
        &--title {
            font-size: rem(20px);
            font-weight: 400;
            color: var(--textPrimary);
            margin-bottom: rem(16px);
            @include truncate(2);
        }
        &--price {
            display: flex;
            align-items: center;
            font-size: rem(24px);
            font-weight: 500;
            color: var(--textPrimary);
            margin-bottom: rem(14px);
        }
        &--oldprice {
            font-size: rem(16px);
            font-weight: 400;
            color: var(--textSecondary);
            text-decoration-line: line-through;
            padding-left: rem(10px);
        }
        &--soldby {
            font-size: rem(14px);
            font-weight: 400;
            font-style: italic;
            color: var(--textSecondary);
            margin-bottom: rem(19px);
            opacity: 1;
            i {
                opacity: 0.8;
            }
        }
        &--seemore {
            color: var(--secondary);
            text-decoration: none;
            text-transform: capitalize;
            font-size: rem(16px);
            font-weight: 500;
            position: relative;
            transition: 0.5s ease all;
            &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 9.70711C-0.0675908 9.34662 -0.0953203 8.77939 0.209705 8.3871L0.292893 8.29289L3.585 5L0.292893 1.70711C-0.0675911 1.34662 -0.0953207 0.779391 0.209704 0.3871L0.292893 0.292893C0.653377 -0.0675907 1.22061 -0.0953208 1.6129 0.209704L1.70711 0.292893L5.70711 4.29289C6.06759 4.65338 6.09532 5.22061 5.7903 5.6129L5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292893 9.70711Z' fill='%23EA5A43'/%3E%3C/svg%3E ");
                height: 10px;
                width: 10px;
                right: -30px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.5s ease all;
            }
            &:hover {
                text-decoration: none;
            }
            @media screen and (min-width: 1025px) {
                .productItem__info--seemore:hover {
                    text-decoration: none !important;
                    color: var(--secondary);
                    &:after {
                        right: -35px;
                    }
                }
            }
        }
        .btn {
            svg {
                &:hover {
                    fill: var(--primary);
                }
            }
        }
    }
    .button-row {
        margin-top: rem(22px);
    }
    .inline-button {
        display: flex;
        margin-top: rem(22px);
        .btn {
            @media screen and (max-width: 1600px) {
                padding: rem(15px) rem(12px);
            }
            &:not(:last-child) {
                margin-right: rem(14px);
                @media screen and (max-width: 1350px) {
                    margin-right: 6px;
                }
            }
        }
    }
}

//cart-items
.cartItems {
    box-shadow: 0px 4px 25px rgba(107, 107, 107, 0.03);
    background: rgba(247, 247, 247, 0.3);
    &__products {
        display: flex;
        justify-content: space-between;
        padding-right: rem(0px);
        &--close {
            margin-top: rem(25px);
            svg {
                opacity: 0.7;
            }
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }
    .cartItemsWrapper {
        box-shadow: 0px 4px 25px rgba(107, 107, 107, 0.03);
        background: rgba(247, 247, 247, 0.3);
    }
    .cartItem {
        &__product {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 rem(16px);
            padding-right: rem(42px);
            flex-wrap: nowrap;
            &--image {
                flex: 0 0 96px;
                max-width: 96px;
                background: var(--imageBg);
                text-align: center;
                padding: 7px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-radius: 6px;
                margin-right: 12px;
            }
            &--title {
                font-size: rem(14px);
                font-weight: 400;
                margin-bottom: rem(10px) !important;
                max-width: 100%;
                flex: 1;
                color: var(--textPrimary);
                padding-right: 10px;
                white-space: break-spaces;
                @include truncate(1);
            }
            &--price {
                font-size: rem(16px);
                font-weight: 500;
                color: var(--textPrimary);
                span {
                    font-size: rem(14px);
                    display: inline-block;
                    color: #8e8e8e;
                    margin-left: 10px;
                    text-decoration: line-through;
                    font-weight: 400;
                }
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        background: rgba(247, 247, 247, 0.3);
        &--detail {
            p {
                line-height: 1;
                color: var(--textPrimary);
                margin: 0;
                &:not(:last-child) {
                    margin-bottom: rem(15px);
                }
            }
            &--price {
                font-size: rem(16px);
                font-weight: 500;
                span {
                    font-size: rem(14px);
                    display: inline-block;
                    color: #8e8e8e;
                    margin-left: 10px;
                    text-decoration: line-through;
                    font-weight: 400;
                }
            }
        }
    }
    &__Total {
        font-size: rem(20px);
        color: var(--textPrimary);
        font-weight: 500;
        padding: rem(15px);
        padding-top: rem(22px);
        // margin-top: rem(20px);
        background: #fff;
        box-shadow: 0 -5px 5px -5px rgba(107, 107, 107, 0.24);
        span {
            font-size: rem(16px);
            font-weight: 400;
            color: #8e8e8e;
            display: inline-block;
            text-decoration: line-through;
            margin-left: 10px;
        }
        .button-row {
            margin-top: rem(20px);
        }
    }
}

//inner scroll
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #e9e9e9 !important;
    width: 6px;
}

.mCSB_draggerContainer {
    width: 0 !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 0 !important;
}

// slider arrows
.sliderNavigation {
    &__controls {
        position: absolute;
        width: 100%;
        top: 35px;
        z-index: 9;
        &--arrow {
            position: absolute;
            width: rem(50px);
            height: rem(50px);
            border: solid 1px #019cde !important;
            border-radius: 50%;
            color: #019cde;
            transition: 0.5s ease all;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            &.nextArrow {
                right: 0;
            }
            &.prevArrow {
                right: 72px;
            }
            @media screen and (max-width: 991px) {
                transform: scale(0.8);
            }
            @media screen and (max-width: 991px) {
                width: 40px;
                height: 40px;
            }
            @media screen and (min-width: 1025px) {
                &:hover {
                    opacity: 1;
                    background: var(--primary);
                    color: #fff;
                    opacity: 1;
                }
            }
            &.swiper-button-disabled {
                pointer-events: none;
                opacity: 0.5;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.flex-Wrapper {
    display: flex;
    flex-wrap: wrap;
}

body {
    &.front-page {
        .btn-primary {
            min-width: auto;
            padding: rem(15px) rem(95px);
            @media screen and (min-width: 992px) {
                box-shadow: 0px 9px 25px rgba(234, 90, 67, 0.35) !important;
            }
            @media screen and (max-width: 1199px) {
                padding: rem(15px) rem(70px);
            }
        }
        .mainbg {
            padding-top: 0;
        }
        .mainBanner {
            padding-top: rem(170px);
            @media screen and (max-width: 991px) {
                padding-top: rem(140px);
            }
        }
    }
}

.mainbg {
    position: relative;
    padding-top: rem(170px);
    @media screen and (max-width: 991px) {
        padding-top: rem(140px);
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/background/mainBg.png) left top no-repeat;
        background-repeat-y: repeat;
        left: 0;
        top: 0;
        opacity: 0.03;
    }
}

// video popup
.vedio-popup {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
    margin: auto;
    text-align: center;
    padding-top: 128px;
    video {
        // width: 100%;
        @media screen and (min-width: 991px) {
            height: 500px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 63px;
        @media screen and (max-width: 767px) {
            padding-bottom: rem(35px);
        }
    }
    .closeIcon {
        position: absolute;
        right: 13%;
        cursor: pointer;
        transition: 0.4s ease all;
        z-index: 12;
        top: 25%;
        @media screen and (max-width: 991px) {}
        svg {
            transform: scale(2);
            transition: 0.4s ease all;
            color: #fff;
        }
        @media screen and (min-width: 1025px) {
            &:hover {
                svg {
                    transform: scale(2.2);
                }
            }
        }
    }
}

h3,
h2 {
    &.sectionTitle {
        font-size: rem(48px);
        font-weight: 500;
        color: var(--textPrimary);
        margin-bottom: rem(15px);
        @media screen and (max-width: 767px) {
            font-size: rem(40px);
        }
        @media screen and (max-width: 575px) {
            font-size: rem(35px);
        }
    }
}

h1 {
    font-size: rem(64px);
    color: #22272e;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: rem(25px);
    @media screen and (max-width: 767px) {
        font-size: rem(55px);
    }
    @media screen and (max-width: 575px) {
        font-size: rem(48px);
    }
}

p {
    &.subTitle {
        font-size: rem(20px);
        font-weight: 500;
        color: var(--textSecondary);
        line-height: 1;
        margin-bottom: rem(12px) !important;
        @media screen and (max-width: 767px) {
            font-size: rem(18px);
        }
    }
}

.howItsWork {
    margin-left: rem(24px);
    display: flex;
    align-items: center;
    color: var(--secondary);
    font-weight: 500;
    font-size: rem(16px);
    span {
        height: rem(52px);
        width: rem(52px);
        min-width: rem(52px);
        border-radius: 100%;
        background: #fcfcfc;
        @include flex(center,
        center);
        cursor: pointer;
        margin-right: rem(12px);
        transition: 0.5s ease all;
        @media screen and (min-width: 1025px) {
            &:hover {
                background: var(--secondary);
                svg {
                    color: #fff;
                }
            }
        }
    }
}

[data-color='F0F0F0'] {
    background-color: #f0f0f0;
}

[data-color='FFEAF0'] {
    background-color: #ffeaf0;
}

[data-color='F3F0FE'] {
    background-color: #f3f0fe;
}

[data-color='FBE8EA'] {
    background-color: #fbe8ea;
}

[data-color='FDF4E9'] {
    background-color: #fdf4e9;
}

.contentWrapper {
    overflow-y: hidden;
}

.seeAll {
    font-size: rem(16px);
    font-weight: 500;
    color: var(--secondary);
    position: relative;
    padding-right: rem(20px);
    &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 9.70711C-0.0675908 9.34662 -0.0953203 8.77939 0.209705 8.3871L0.292893 8.29289L3.585 5L0.292893 1.70711C-0.0675911 1.34662 -0.0953207 0.779391 0.209704 0.3871L0.292893 0.292893C0.653377 -0.0675907 1.22061 -0.0953208 1.6129 0.209704L1.70711 0.292893L5.70711 4.29289C6.06759 4.65338 6.09532 5.22061 5.7903 5.6129L5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292893 9.70711Z' fill='%23EA5A43'/%3E%3C/svg%3E%0A");
        width: 6px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    @media screen and (min-width: 1025px) {
        &:hover {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 9.70711C-0.0675908 9.34662 -0.0953203 8.77939 0.209705 8.3871L0.292893 8.29289L3.585 5L0.292893 1.70711C-0.0675911 1.34662 -0.0953207 0.779391 0.209704 0.3871L0.292893 0.292893C0.653377 -0.0675907 1.22061 -0.0953208 1.6129 0.209704L1.70711 0.292893L5.70711 4.29289C6.06759 4.65338 6.09532 5.22061 5.7903 5.6129L5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292893 9.70711Z' fill='%231a90d2'/%3E%3C/svg%3E%0A");
            }
        }
    }
}

.mainBanner {
    padding-bottom: rem(65px);
    position: relative;
    width: 100%;
    height: 750px;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/background/mainBanner-bg.png) left top no-repeat;
        background-size: 100% 100%;
        @media screen and (max-width: 991px) {
            background-size: cover;
        }
    }
    &__left {
        width: 50%;
        float: left;
        position: relative;
        .subTitle {
            font-size: rem(28px);
        }
        &--desc {
            margin-bottom: rem(30px);
            @media screen and (min-width: 992px) {
                max-width: 600px;
            }
        }
        .btn {
            box-shadow: none !important;
        }
    }
    &__right {
        // max-width: 520px;
        // flex: 0 0 520px;
        width: 50%;
        float: right;
        position: relative;
        .serviceItem {
            background: #ffffff;
            border: 2px solid #fde7e3;
            border-radius: 12px;
            padding: rem(24px);
            padding-top: rem(110px);
            position: relative;
            margin-left: 70px;
            margin-top: 110px;
            margin-right: 20px;
            &__image {
                position: absolute;
                top: -110px;
                left: -70px;
            }
            &__price {
                color: var(--secondary);
                font-size: rem(20px);
                font-weight: 500;
                margin-bottom: rem(10px);
                span {
                    font-size: rem(14px);
                    color: var(--textSecondary);
                    text-decoration: line-through;
                    display: inline-block;
                    margin-left: 8px;
                }
            }
            &__name {
                font-size: rem(28px);
                color: var(--black);
                font-weight: 500;
                line-height: 1.3;
            }
        }
    }
    .sliderNavigation {
        z-index: 1;
        &__controls {
            z-index: 1;
            bottom: 75px;
            top: auto;
            right: -2px;
            &--arrow {
                &.prevArrow {
                    right: 0;
                    left: auto;
                }
                &.nextArrow {
                    bottom: 25px;
                    @media screen and (max-width: 991px) {
                        bottom: 5px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 0;
        &__left {
            float: none;
            width: 100%;
            margin-bottom: rem(50px);
        }
        &__right {
            float: none;
            width: 100%;
            .serviceItem {
                margin-left: 50px;
                &__image {
                    left: -50px;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &__right {
            .serviceItem {
                &__image {
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
        .d-flex {
            flex-direction: column;
            justify-content: center;
        }
        .btn {
            width: 100%;
        }
        .howItsWork {
            margin: rem(20px) 0 0 0;
        }
    }
}

// our services css
.ourServices {
    padding: rem(25px) 0 rem(85px) 0;
    position: relative;
    @media screen and (max-width: 991px) {
        padding: rem(25px) 0 rem(50px) 0;
    }
    .flex-Wrapper {
        justify-content: space-between;
        padding-top: rem(35px);
    }
    .serviceItem {
        max-width: 19%;
        flex: 0 0 19%;
        height: 220px;
        border-radius: 12px;
        @include flex(center,
        center);
        flex-direction: column;
        padding: rem(20px);
        position: relative;
        transition: 0.4s ease-in-out;
        @media screen and (min-width: 1025px) {
            &:hover {
                transform: translateY(-16px);
            }
        }
        &__icon {
            min-height: 60px;
            margin-bottom: rem(20px);
            svg {
                max-width: 100%;
            }
        }
        &__name {
            color: var(--textPrimary);
            font-size: rem(20px);
            font-weight: 500;
            margin: 0;
            text-align: center;
            padding: 0 rem(12px);
        }
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
        .serviceItem {
            padding: rem(10px);
            &__name {
                font-size: rem(16px);
            }
        }
    }
    @media screen and (max-width: 991px) {
        .serviceItem {
            max-width: 24%;
            flex: 0 0 24%;
            margin-bottom: rem(17px);
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: rem(65px);
        .serviceItem {
            max-width: 47%;
            flex: 0 0 47%;
            margin-right: rem(17px);
        }
        .flex-Wrapper {
            justify-content: center;
        }
    }
    @media screen and (max-width: 575px) {
        .serviceItem {
            max-width: 100%;
            width: 100%;
            flex: none;
            margin-right: 0;
            &__icon {
                margin-bottom: rem(35px);
            }
        }
        .seeAll {
            margin-left: rem(25px);
        }
    }
}

// our work css
.ourWork {
    position: relative;
    padding: 0 0 rem(85px) 0;
    .howItsWork {
        span {
            border: 2px solid #f7c0b7;
            background: transparent;
            @media screen and (min-width: 1025px) {
                &:hover {
                    background: var(--secondary);
                    svg {
                        color: #fff;
                    }
                }
            }
        }
    }
    &__Steps {
        list-style: none;
        li {
            display: flex;
            position: relative;
            &:not(:last-child) {
                margin-bottom: rem(20px);
                &:after {
                    content: '';
                    position: absolute;
                    border: 1px dashed #f7c0b7;
                    width: 1px;
                    height: 100%;
                    left: 36px;
                    top: 53px;
                    z-index: -1;
                }
            }
        }
        &--icon {
            width: rem(72px);
            height: rem(72px);
            min-width: rem(72px);
            background: #f5f5f5;
            border-radius: 12px;
            @include flex(center,
            center);
            margin-right: rem(20px);
            position: relative;
            span {
                width: rem(35px);
                height: rem(35px);
                min-width: rem(35px);
                background: #f7c0b7;
                border: 4px solid #ffffff;
                border-radius: 100%;
                color: var(--textPrimary);
                font-size: rem(14px);
                font-weight: 500;
                @include flex(center,
                center);
                position: absolute;
                top: -8px;
                left: -8px;
            }
        }
        &--title {
            font-size: rem(20px);
            font-weight: 500;
            color: var(--textPrimary);
            line-height: 1;
            margin-bottom: rem(10px);
        }
        &--detail {
            color: var(--default);
            font-size: rem(16px);
            font-weight: 400;
            line-height: 1;
            margin: 0;
        }
    }
    &__left {
        flex: 1;
        padding-right: rem(80px);
        &--subTitle {
            font-size: rem(20px);
            color: var(--textSecondary);
            font-weight: 500;
            margin-bottom: rem(10px);
            margin-top: rem(15px);
        }
        &--desc {
            margin-bottom: rem(30px);
            @media screen and (min-width: 992px) {
                max-width: 600px;
            }
        }
    }
    &__right {
        max-width: 400px;
        flex: 0 0 400px;
    }
    @media screen and (max-width: 1199px) {
        &__right {
            max-width: 335px;
            flex: 0 0 335px;
        }
    }
    @media screen and (max-width: 991px) {
        .d-flex,
        .flex-Wrapper {
            flex-direction: column;
        }
        &__right {
            max-width: 100%;
            flex: none;
            margin-bottom: rem(35px);
        }
        &__left {
            padding: 0 0 rem(20px) 0;
        }
        .howItsWork {
            margin: rem(30px) 0 0 0;
        }
        &__Steps {
            li {
                &:not(:last-child) {
                    &:after {
                        left: 27px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: rem(40px);
    }
    @media screen and (max-width: 575px) {
        .btn {
            width: 100%;
        }
    }
}

// implant planing css
.implantPlaning {
    background: url(../images/background/implant-planing-bg.png) left top no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: rem(64px);
    position: relative;
    .swiper {
        padding: 20px 0;
    }
    &__image {
        max-width: 370px;
        flex: 0 0 370px;
        background-color: #fff;
        border-radius: 15px;
        padding: rem(30px);
        @include flex(center,
        center);
    }
    &__detail {
        flex: 1;
        margin-left: rem(50px);
        margin-top: rem(20px);
        &--number {
            color: var(--default);
            line-height: 1;
            margin-bottom: rem(15px);
            display: block;
        }
        &--price {
            font-size: rem(32px);
            color: var(--secondary);
            font-weight: 500;
            line-height: 1;
            margin-bottom: rem(16px);
            padding-top: rem(10px);
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                font-weight: 500;
                font-size: rem(16px);
                margin-left: rem(16px);
                color: var(--textSecondary);
                text-decoration: line-through;
            }
        }
        &--desc {
            @include truncate(2);
            line-height: 1.3;
            max-width: 475px;
            margin-bottom: rem(32px);
        }
        &--link {
            color: var(--black);
            font-weight: 500;
            text-decoration: underline;
            @media screen and (min-width: 1025px) {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .inline-buttons {
            padding-top: rem(30px);
            .seeAll {
                margin-left: rem(30px);
            }
        }
    }
    .sliderNavigation {
        &__controls {
            right: 40px;
            &--arrow {
                background: #fff;
                border-color: #fff !important;
                @media screen and (min-width: 1025px) {
                    &:hover {
                        opacity: 1;
                        background: var(--primary);
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        padding: rem(40px);
        &__image {
            max-width: 330px;
            flex: 0 0 330px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: rem(90px);
        .d-flex,
        .flex-Wrapper {
            flex-direction: column;
        }
        &__image {
            max-width: 100%;
            flex: none;
            margin-bottom: rem(30px);
        }
        &__detail {
            margin-left: 0;
        }
        .sliderNavigation {
            &__controls {
                top: auto;
                bottom: 60px;
            }
        }
        .inline-buttons {
            @include flex(start,
            start);
            flex-direction: column;
            .seeAll {
                margin: 0;
            }
            .btn {
                margin-bottom: rem(25px);
            }
        }
    }
    @media screen and (max-width: 767px) {
        border-radius: 0;
    }
}

//our features css
.ourFeatures {
    padding: rem(85px) 0 rem(60px);
    @media screen and (max-width: 767px) {
        padding: rem(50px) 0 rem(40px);
    }
    .subTitle {
        text-align: center;
    }
    h3 {
        text-align: center;
        margin-bottom: rem(42px);
    }
    &__card {
        background: #ffffff;
        box-shadow: 0px 20px 80px -10px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        padding: rem(32px);
        position: relative;
        margin-bottom: rem(24px);
        transition: 0.4s ease-out;
        @media screen and (min-width: 1025px) {
            &:hover {
                box-shadow: 0px 20px 80px -10px rgba(234, 90, 67, 0.35);
            }
        }
        &--icon {
            background: #fdefed;
            border-radius: 12px;
            @include flex(center,
            center);
            width: rem(80px);
            height: rem(80px);
            margin-bottom: rem(24px);
        }
        &--title {
            font-size: rem(20px);
            font-weight: 500;
            color: var(--textPrimary);
            margin-bottom: rem(14px);
        }
        p {
            font-size: rem(14px);
            margin: 0;
            line-height: 1.5;
        }
    }
}

//statistics
.statistics {
    background: #eef7fb url(../images/background/statistics-bg.png) left top no-repeat;
    padding: rem(80px) 0;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        left: 0;
        top: 0;
        z-index: -1;
    }
    ul {
        list-style: none;
        @include flex(center,
        space-around);
        li {
            text-align: center;
            h4 {
                font-size: rem(64px);
                font-weight: 500;
                color: var(--textPrimary);
                margin-bottom: rem(16px);
                sup {
                    font-size: rem(48px);
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
            p {
                margin: 0;
                font-weight: 500;
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: rem(60px) 0 rem(30px) 0;
        ul {
            li {
                width: 50%;
                margin-bottom: rem(30px);
                h4 {
                    font-size: rem(55px);
                    sup {
                        font-size: rem(35px);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: rem(60px) 0 rem(20px) 0;
        background-repeat: repeat-y;
        ul {
            li {
                width: 100%;
                margin-bottom: rem(40px);
            }
        }
    }
}

// our app
.ourApp {
    padding: rem(80px) 0;
    position: relative;
    display: flex;
    &__image {
        margin-right: rem(55px);
    }
    &__detail {
        max-width: 520px;
        padding-top: rem(60px);
        p {
            margin-bottom: rem(50px);
        }
        h3 {
            margin-bottom: rem(25px);
        }
        .inline-buttons {
            a {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: rem(17px);
                }
                svg {
                    transition: 0.5s ease all;
                }
                @media screen and (min-width: 1025px) {
                    &:hover {
                        svg {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: rem(50px) 0;
        flex-direction: column-reverse;
        &__detail {
            padding: 0 rem(50px) rem(30px) 0;
        }
        &__image {
            margin: 0;
            text-align: center;
            .inline-buttons {
                align-items: center;
                justify-content: center;
                margin-top: rem(32px);
                a {
                    &:not(:last-child) {
                        margin-right: rem(16px);
                    }
                    svg {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

// our clients
.ourClients {
    position: relative;
    .subTitle {
        text-align: center;
    }
    h3 {
        margin-bottom: 0;
        text-align: center;
    }
    &__card {
        background: #ffffff;
        box-shadow: 0px 20px 80px -25px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        padding: rem(60px) rem(30px);
        @include flex(center,
        center);
        position: relative;
        @media screen and (max-width: 991px) {
            padding-top: rem(95px);
        }
        span {
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='30' viewBox='0 0 48 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.51 30C11.04 30 12.45 29.13 13.11 27.78L17.37 19.26C17.79 18.42 18 17.52 18 16.59V3C18 1.35 16.65 0 15 0H3C1.35 0 0 1.35 0 3V15C0 16.65 1.35 18 3 18H9L5.91 24.18C4.56 26.85 6.51 30 9.51 30ZM39.51 30C41.04 30 42.45 29.13 43.11 27.78L47.37 19.26C47.79 18.42 48 17.52 48 16.59V3C48 1.35 46.65 0 45 0H33C31.35 0 30 1.35 30 3V15C30 16.65 31.35 18 33 18H39L35.91 24.18C34.56 26.85 36.51 30 39.51 30Z' fill='%23FDEFED'/%3E%3C/svg%3E%0A");
            width: 52px;
            height: 33px;
            background-repeat: no-repeat;
            top: 30px;
            left: 30px;
        }
        p {
            color: var(--textPrimary);
            line-height: 1.5;
            max-width: 430px;
            text-align: center;
            margin-bottom: rem(40px);
        }
        flex-direction: column;
        &--info {
            list-style: none;
            display: flex;
            align-items: center;
            &--icon {
                width: rem(65px);
                height: rem(65px);
                min-width: rem(65px);
                border-radius: 100%;
                overflow: hidden;
                margin-right: rem(16px);
                img {
                    height: 100%;
                }
            }
            &--speciality {
                font-size: rem(14px);
                font-weight: 400;
                line-height: 1;
                margin: rem(6px) 0 0 0;
            }
            li {
                color: var(--default);
                font-size: rem(14px);
                font-weight: 500;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .swiper {
        padding-top: rem(50px);
        padding-bottom: rem(100px);
        .swiper-slide {
            padding: 0 25px;
        }
    }
    @media screen and (max-width: 767px) {
        .subTitle {
            text-align: left;
        }
        h3 {
            text-align: left;
        }
        &__card {
            padding-top: rem(90px);
        }
    }
}

// experience
.experience {
    background: #fdefed url(../images/background/experience-bg.png) left top no-repeat;
    padding: rem(80px);
    border-radius: 16px;
    position: relative;
    margin: 0 0 rem(80px) 0;
    h3 {
        margin: 0;
    }
    .button-row {
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
    @media screen and (max-width: 1199px) {
        padding: rem(55px);
    }
    @media screen and (max-width: 767px) {
        padding: rem(48px) rem(25px);
        margin: 0 0 rem(40px) 0;
        border-radius: 0;
        h3 {
            text-align: center;
        }
        .button-row {
            justify-content: center;
        }
    }
    @media screen and (max-width: 575px) {
        .button-row {
            .btn {
                width: 100%;
            }
        }
    }
}

// newsLetter
.newsLetter {
    background: #f5f5f5;
    padding: rem(40px) 0;
    &__icon {
        margin-right: rem(30px);
        svg {
            max-width: 100%;
        }
    }
    h4 {
        font-size: rem(32px);
        font-weight: 500;
        color: var(--textPrimary);
        line-height: 1;
        margin-bottom: rem(10px);
    }
    p {
        margin: 0;
    }
    .form-group {
        margin: 0;
        background: #fff;
        display: flex;
        align-items: center;
        padding: 8px 8px 8px 24px;
        border-radius: 12px;
        .btn {
            padding: rem(10px) rem(45px);
        }
        .form-control {
            color: #8e8e8e;
            background: transparent;
            padding: 0;
            height: 40px;
            padding-right: rem(22px);
            &::placeholder {
                display: block !important;
                opacity: 1 !important;
                color: #8e8e8e;
            }
        }
    }
    @media screen and (max-width: 991px) and (min-width: 768px) {
        .form-group {
            .btn {
                padding: rem(10px) rem(30px);
            }
        }
        h4 {
            font-size: rem(27px);
        }
    }
    @media screen and (max-width: 767px) {
        .d-flex {
            flex-direction: column;
        }
        &__icon {
            margin: 0 0 rem(32px) 0;
        }
        .form-group {
            flex-direction: column;
            margin-top: rem(32px);
            background: transparent;
            padding: 0;
            .form-control {
                background: #fff;
                padding: 8px 8px 8px 24px;
                margin-bottom: rem(25px);
                height: 60px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        .form-group {
            button {
                width: 100%;
            }
        }
    }
}

.sectionBg {
    position: relative;
    width: 100%;
    height: 100%;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/background/section-bg.png) right top no-repeat;
        @media screen and (max-width: 767px) {
            background: url(../images/background/section-bg-responsive.png) right top 75px no-repeat;
        }
    }
}

// about us page css
.aboutUs {
    .aboutVoxel {
        padding-bottom: rem(85px);
        box-shadow: inset 0 -59px 18px 17px white;
        @media screen and (max-width: 991px) {
            padding-bottom: rem(36px);
        }
        @media screen and (max-width: 991px) {
            .d-flex {
                flex-direction: column;
            }
        }
        &__right {
            max-width: 595px;
            flex: 0 0 595px;
            @media screen and (max-width: 1200px) {
                max-width: 420px;
                flex: 0 0 420px;
            }
            @media screen and (max-width: 991px) {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
        &__left {
            flex: 1;
            padding-right: rem(80px);
            @media screen and (max-width: 1200px) {
                padding-right: rem(25px);
            }
            h1 {
                font-size: rem(48px);
                @media screen and (max-width: 767px) {
                    font-size: rem(40px);
                }
                @media screen and (max-width: 575px) {
                    font-size: rem(34px);
                }
            }
            @media screen and (max-width: 991px) {
                padding-right: rem(0px);
                padding-bottom: rem(35px);
                max-width: 100%;
                flex: 0 0 100%;
            }
            a {
                color: var(--primary);
                font-weight: 400;
                display: inline-block;
            }
        }
        .subTitle {
            font-size: rem(28px);
        }
        &__image {
            position: relative;
            border-radius: 18px;
            overflow: hidden;
            img {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #22272e;
                opacity: 0.6;
                left: 0;
                top: 0;
            }
            span {
                height: rem(52px);
                width: rem(52px);
                min-width: rem(52px);
                border-radius: 100%;
                background: #fcfcfc;
                color: #ea5a43;
                @include flex(center,
                center);
                cursor: pointer;
                margin-right: rem(12px);
                transition: 0.5s ease all;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media screen and (min-width: 1025px) {
                    &:hover {
                        background: var(--secondary);
                        svg {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .getInTouch {
        padding: rem(80px) 0;
        @media screen and (max-width: 991px) {
            padding: rem(40px) 0;
        }
        .subTitle {
            text-align: center;
        }
        h2 {
            margin-bottom: rem(50px);
            text-align: center;
        }
        ul {
            list-style: none;
            @include flex(center,
            space-around);
            padding: 0 rem(80px);
            @media screen and (max-width: 575px) {
                flex-direction: column;
            }
            li {
                text-align: center;
                @media screen and (max-width: 767px) {
                    &:not(:last-child) {
                        margin-bottom: rem(25px);
                    }
                }
                a {
                    color: var(--default);
                    font-size: rem(20px);
                    font-weight: 500;
                    line-height: 1;
                    margin: 0;
                }
                .icon {
                    width: 80px;
                    height: 80px;
                    background: rgba(234, 90, 67, 0.12);
                    border-radius: 12px;
                    @include flex(center,
                    center);
                    margin: auto;
                    margin-bottom: rem(24px);
                }
                p {
                    color: var(--default);
                    font-size: rem(20px);
                    font-weight: 500;
                    line-height: 1;
                    margin: 0;
                }
            }
        }
    }
}

// search page css
.searchResult {
    padding-top: 170px;
    // background: #FCFCFC;
    padding-bottom: rem(30px);
    .search {
        padding-bottom: rem(48px);
        border-bottom: 1px solid #e7e5ea;
        margin-bottom: rem(16px);
        .form-control {
            background: #fcfcfc;
            border: 2px solid #8e8e8e;
            border-radius: 12px;
            padding: rem(10px) rem(56px) rem(10px) rem(62px);
            &::placeholder {
                opacity: 1 !important;
                color: var(--textPrimary) !important;
            }
        }
        .form-group {
            margin: 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3ZM11 5C14.3137 5 17 7.68629 17 11C17 14.3137 14.3137 17 11 17C7.68629 17 5 14.3137 5 11C5 7.68629 7.68629 5 11 5Z' fill='%238e8e8e'/%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2926 15.2971C15.6529 14.9365 16.2201 14.9085 16.6125 15.2133L16.7068 15.2965L20.7068 19.2928C21.0975 19.6832 21.0978 20.3164 20.7074 20.7071C20.3471 21.0677 19.7799 21.0957 19.3875 20.7908L19.2932 20.7077L15.2932 16.7113C14.9025 16.321 14.9022 15.6878 15.2926 15.2971Z' fill='%238e8e8e'/%3E%3C/g%3E%3C/svg%3E");
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                left: rem(30px);
                z-index: 1;
            }
            &:after {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.6129 6.2097C7.22061 5.90468 6.65338 5.93241 6.29289 6.29289C5.90237 6.68342 5.90237 7.31658 6.29289 7.70711L10.5858 12L6.29289 16.2929L6.2097 16.3871C5.90468 16.7794 5.93241 17.3466 6.29289 17.7071C6.68342 18.0976 7.31658 18.0976 7.70711 17.7071L12 13.4142L16.2929 17.7071L16.3871 17.7903C16.7794 18.0953 17.3466 18.0676 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L13.4142 12L17.7071 7.70711L17.7903 7.6129C18.0953 7.22061 18.0676 6.65338 17.7071 6.29289C17.3166 5.90237 16.6834 5.90237 16.2929 6.29289L12 10.5858L7.70711 6.29289L7.6129 6.2097Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                right: rem(20px);
            }
        }
    }
    .resultNumber {
        font-size: rem(12px);
        font-weight: 500;
        color: var(--textSecondary);
        line-height: 1;
        margin-bottom: rem(32px);
    }
    .result {
        &:not(:last-child) {
            margin-bottom: rem(45px);
        }
    }
}

// modal css
.modal {
    &.customModal {
        .modal-dialog {
            .modal-content {
                padding: 0;
                .modal-header {
                    padding: rem(48px) rem(60px) 0 rem(64px);
                    @media screen and (max-width: 991px) {
                        padding: rem(30px) rem(30px) 0 rem(30px);
                    }
                    .logo {
                        svg {
                            top: auto;
                            right: auto;
                        }
                    }
                    .close {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' icon-id='cross-icon' icon-viewBox='0 0 12 12'%3E%3Cg id='cross-icon'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.6129 0.209705C1.22061 -0.0953203 0.653377 -0.0675907 0.292893 0.292893C-0.0976311 0.683418 -0.0976311 1.31658 0.292893 1.70711L4.58579 6L0.292893 10.2929L0.209705 10.3871C-0.0953203 10.7794 -0.0675907 11.3466 0.292893 11.7071C0.683418 12.0976 1.31658 12.0976 1.70711 11.7071L6 7.41421L10.2929 11.7071L10.3871 11.7903C10.7794 12.0953 11.3466 12.0676 11.7071 11.7071C12.0976 11.3166 12.0976 10.6834 11.7071 10.2929L7.41421 6L11.7071 1.70711L11.7903 1.6129C12.0953 1.22061 12.0676 0.653377 11.7071 0.292893C11.3166 -0.0976311 10.6834 -0.0976311 10.2929 0.292893L6 4.58579L1.70711 0.292893L1.6129 0.209705Z' fill='%23000000' /%3E%3C/g%3E%3C/svg%3E");
                        right: 23px;
                        top: 30px;
                    }
                }
                .modal-body {
                    padding: 0 rem(60px) rem(32px) rem(64px);
                    @media screen and (max-width: 991px) {
                        padding: 0 rem(30px) rem(30px) rem(30px);
                    }
                    .or {
                        position: relative;
                        @include flex(center,
                        center);
                        margin: rem(24px) 0;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: #e9e9e9;
                            top: 8px;
                            left: 0;
                        }
                        span {
                            font-size: rem(16px);
                            font-weight: 400;
                            color: #8e8e8e;
                            padding: 0 8px;
                            background: #fff;
                            text-transform: uppercase;
                            z-index: 1;
                        }
                    }
                    .button-row {
                        margin-top: rem(24px);
                    }
                    .checkbox {
                        padding-top: 0;
                        a {
                            color: var(--primary);
                        }
                    }
                }
                .modal-footer {
                    @include flex(center,
                    center);
                    background: #eef7fb;
                    border-radius: 0px 0px 16px 16px;
                    border: 0;
                    padding: rem(25px);
                    p {
                        margin: 0;
                        a {
                            color: var(--primary);
                        }
                    }
                }
                .byGoogle {
                    a {
                        background: #ffffff;
                        border: 2px solid #e9e9e9;
                        border-radius: 8px;
                        color: var(--default);
                        font-size: rem(16px);
                        font-weight: 500;
                        @include flex(center,
                        center);
                        height: 52px;
                        svg {
                            position: static;
                            margin-right: 14px;
                            top: auto;
                            transform: none;
                            right: auto;
                        }
                    }
                }
                .form-group {
                    .control-label {
                        font-weight: 400;
                    }
                    &.border {
                        border: 0 !important;
                        .form-control {
                            background: #fcfcfc;
                            border: 2px solid #171716;
                            box-sizing: border-box;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .hide-on-md {
        display: none;
    }
    .show-on-md {
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    .hide-on-sm {
        display: none;
    }
    .show-on-sm {
        display: flex;
    }
}

//filter btn
@media screen and (max-width: 991px) {
    .toggler-filter {
        .toggle-filter-btn {
            display: block !important;
            padding: 0.9375rem;
            font-size: 1.25rem;
            color: white;
            border-radius: 0 !important;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 2px solid #fff;
            position: relative;
            margin-bottom: rem(25px);
            border-radius: 15px !important;
            &:after {
                content: '\f0dd';
                font-family: FontAwesome;
                position: absolute;
                right: 17px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                height: 24px;
                width: auto;
            }
        }
        &.active {
            .toggle-filter-btn {
                &:after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
}